﻿<template>
    <b-btn @click="go()" variant="danger">
        {{ label }}
    </b-btn>
</template>

<script>

  export default {
    data() {
      return{

      }
        },
    props: {
        label: {
            type: String,
            default: "Cancel"
        }
    },
    methods: {
        go() {
            this.$router.go(-1);
        }
    }
        
  }
</script>

<style>
</style>

