<template>
    <div class="div_multiselect">
        <multiselect ref="comboBoxApi" @select="onSelect" @remove="onRemove" :allow-empty="false" :loading="isLoading" :debounce="250" :options="options" track-by="title" label="title" :placeholder="placeholder" :disabled="disabled" :custom-label="customLabel" :show-label="false" :option-height="200">
        	<template slot="option" scope="props">
        		<!-- <h5 class="option__title">{{ props.option.value.projectName }}</h5> -->
        		<!-- <img class="option__image" :src="props.option.img" alt="No Man’s Sky"> -->
        	    <div class="option__desc"><span class="option__title">{{ props.option.title }}</span><span class="option__small">{{ props.option.desc }}</span></div>
        	</template>
        </multiselect>
        <pre>{{ options }}</pre>
    </div>
</template>

<script>
	import multiselect from 'vue-multiselect'
    import axios from 'axios'
    import EventBus from '../eventBus.js'
	import * as configuration from '../../config'

	export default {
		data() {
			return{
				options: [],
                isLoading: false
			}
		},
		components: {
			multiselect
		},
		props:
		{
			valueProperty: {
				type: String,
				default: ""
            },
            keyProperty: {
                type: String,
                default: ""
            },
            sortType: {
                type: String,
                default: "asc"
            },
			apiUrl: {
				type: String,
                default: configuration.get("apiUrl")
			},
			apiRoute: {
				type: String,
				default: ""
			},
			placeholder: {
				type: String,
				default: "Select a value"
			},
			disabled: {
				type: Boolean,
				default: false
			},
            id: null,
            value: { default: null}
		},
        mounted() {

            var options = {
                headers: {
                    [configuration.get("apiHeaderToken")]: configuration.get("apiToken"),
                    'Content-Type': 'application/json; charset=utf-8'
                }
            }

            this.isLoading = true;
            axios.get(this.apiUrl + '' + this.apiRoute, options).then(response => {
                if (this.valueProperty) {
                    var values = [];
                    for (var i = 0; i < response.data.result.length; i++) {
                        var item = response.data.result[i];
                        console.log(item);
                        var value = item;
                        var key = this._.get(item, this.keyProperty);
                        if (key && value)
                            values.push({ "key": key, "value": value, "title": item.projectName, "desc": item.name });
                    }

                    if (this.sortType)
                        values = this._.orderBy(values, ['value'], [this.sortType]);

                    this.options = values;

                }
                this.isLoading = false;            
            }).catch(e => {
                this.isLoading = false;
                console.log(e);
            });
		},
		methods: {
            onSelect(value) {
                //this.$emit('selectedValue', value);
            },
            onRemove(value) {
                //this.$emit('removedValue', value);
            },
            customLabel({title, desc}) {
            	debugger;
            	return '${title} - ${desc}'
            }
        },
		computed: {

		}
	}
</script>

<style>
    .div_multiselect: {
        z-index: 1000 !important;
    }
</style>