<template>
	<div id="newThirdPartyAddress">
		<b-modal id="modalUploadFile" :title="title" @ok="submit" :ok-title="okTitle">
			<form @submit.stop.prevent="submit">
				<UploadFile :url="url" :mimeTypes="mimeTypes" :maxFiles="maxFiles"></UploadFile>
			</form>
		</b-modal>
	</div>
</template>

<script>
import UploadFile from './uploadFile'
import eventBus from '../eventBus.js'
import * as configuration from '../../config'

export default {
	data() {
		return {
			parameters: {
				config: {
					headers: {
						[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
						'Content-Type': 'application/json; charset=utf-8'
					},
				},
				toasterOptions: {
					duration: 5000
				}
			}
		}
	},
	components: {
		UploadFile
	},
	props: {
		url: {
			type: String
		},
		mimeTypes: {
			type: String
		},
		maxFiles: {
			type: Number
		},
		title: {
			type: String,
			default: "Upload File"
		},
		okTitle: {
			type: String,
			default: "Ok"
		}
	},
	methods: {
		submit() {

		}
	},
	computed: {
		
	},
	watch: {

	},
	mounted() {

	},
	beforeDestroy() {

	}
}
</script>

<style>
</style>