<template>
	<div id="upload">
		<vue-clip :options="parameters.options" :on-queue-complete="complete" :maxFiles="maxFiles">
			<template slot="clip-uploader-action">
				<div>
					<div class="dz-message dropzone"><h5 class="pt-4"> Click or Drag and Drop files here to upload </h5></div>
					<!-- <pre>{{ this.parameters.options }}</pre> -->
				</div>
			</template>

			<template slot="clip-uploader-body" scope="props">
				<div v-for="file in props.files" class="ml-3">
					<!-- <img v-bind:src="file.dataUrl" /> -->
					<i v-if="file.type = 'application/pdf'" class="fa fa-file-pdf-o" aria-hidden="true"></i>
					<i v-else class="fa fa-file-o" aria-hidden="true"></i>
					{{ file.name }} {{ file.status }}
					<!-- <pre>{{ file }}</pre> -->
				</div>
			</template>

		</vue-clip>
	</div>
</template>

<script>
import eventBus from '../eventBus'
import * as configuration from '../../config'

export default {
	data() {
		return {
			parameters: {
				options: {
					url: this.url,
					paramName: 'file',
					headers: {
						[configuration.get("apiHeaderToken")] : configuration.get("apiToken")
					},
					acceptedFiles: this.pAcceptedFiles
				}
			},
			datas: {

			}
		}
	},
	components: {

	},
	props: {
		url: {
			type: String,
			default: configuration.get("apiUrl")
		},
		mimeTypes: {
			type: String,
			default: 'application/pdf'
		},
		maxFiles: {
			type: Number,
			default: 1
		}
	},
	methods: {
		complete: function(file, status, xhr) {
			//fire event to modify the status after upload success
			if(xhr.status == 200)
				eventBus.$emit('signedOrderUploaded', null);
		}

	},
	computed: {

	},
	watch: {

	},
	mounted() {

	},
	beforeDestroy() {

	}
}
</script>

<style>
.dropzone {
	height: 100px;
	background-color: whitesmoke;
	border-radius: 5px;
	outline: 2px dashed grey;
	outline-offset: -10px;
	text-align: center;
}
</style>