﻿<template>
    <div class="text-center">
      <img src="https://www.realytics.io/wp-content/uploads/2017/06/logo-top.svg" width="400">
    </div>
</template>

<script>

  export default {
    data() {
      return{
        
      }
    }
  }
</script>

<style>
</style>