﻿<template>
    <div>
        <component :is="service"></component>
    </div>
</template>

<script>
    import FeatureEditGoogleSearchConsole from '../run/featureEditGoogleSearchConsole';
    import FeatureEditGA from '../run/featureEditGA';
    import FeatureEditBase from '../run/featureEditBase';
    import FeatureEditFacebookAds from '../run/featureEditFacebookAds';
    import FeatureEditGeolocation from '../run/featureEditGeolocation';
    import NotFound from '../global/notFound';

    const componentFeature = {
        "googlesearchconsole": FeatureEditGoogleSearchConsole,
        "googleanalytics": FeatureEditGA,
        "rai": FeatureEditBase,
        "prediction_train": FeatureEditBase,
        "aerospike_upload": FeatureEditBase,
        "facebookads": FeatureEditFacebookAds,
        "baselinechecking": FeatureEditBase,
        "highpriority": FeatureEditBase,
        "prediction_demo": FeatureEditBase,
        "prediction_prod": FeatureEditBase,
        "prediction_train": FeatureEditBase,
        "shape_impact": FeatureEditBase,
        "stress": FeatureEditBase,
        "vol": FeatureEditBase,
        "geolocation": FeatureEditGeolocation,
        "not_found": NotFound
    }
  export default {
    data() {
      return{
          service : null
      }
        },
    mounted() {
        var s = this.$route.query.s;
        if (s) {
            s = s.toLowerCase();
            console.log("Service: ", s);
            var c = componentFeature[s];
            if (c) {

                this.service = componentFeature[s];
            }
            else {
                this.service = componentFeature["not_found"];
            }
        }
    }
  }
</script>

<style>
</style>
