﻿<template>
    <b-alert variant="danger" show>
        <strong>404</strong> Unable to display content.
    </b-alert>
</template>

<script>

  export default {
    data() {
      return{

      }
    }
  }
</script>

<style>
</style>