<template>
  <div class="mt-3 mb-3">
    <h4>Maintenance - ReIndex a campaign.</h4>
    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong> When you submit a campaignId to be re-indexed, you should wait 2 min (max) to see changes on the dashboard. Use the "Check" button to see the last update date.
    </div>


    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="inputCampaignId" class="form-label">Campaign Id</label>
          <input id="inputCampaignId" v-model="campaignId" type="number" class="form-control" placeholder="Campaign Id" />      
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" v-model="force" type="checkbox" value="" /> Use "Force" option to bypass change lock on old campaigns.
          </label>
        </div>
      </div>

      <div class="col-6">
        <div v-if="lastUpdateIndex || lastUpdateMetric || status" class="card">
          <div class="card-block text-nowrap">
            <span v-if="lastUpdateIndex">Broadcasts: </span><span class="font-weight-bold">{{ lastUpdateIndex }} UTC</span>
            <br/>
            <span v-if="lastUpdateMetric">Metrics: </span><span class="font-weight-bold">{{ lastUpdateMetric }} UTC</span>
            <br/>
            <span v-if="status">Status: </span><span class="font-weight-bold text-uppercase">{{ status }}</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="form-group">
        <div class="col">
          <b-btn @click="push()" variant="primary">
            <i v-bind:class="[parameters.postStatus ? 'fa-spin' : 'fa fa-play fa-lg fa-fw']"></i> Start
          </b-btn>
          <b-btn @click="check()" variant="primary">
            <i v-bind:class="[parameters.postStatus ? 'fa-spin' : 'fa fa-check fa-lg fa-fw']"></i> Check
          </b-btn>
        </div>
      </div>
  </div>

    
  </div>
</template>

<script>

  import axios from 'axios'
  import * as configuration from '../config'
  
  export default {
    data() {
      return{
        parameters: {
          apiURL: configuration.get("apiUrl"),
          apiRouteIndex: '/query/index',
          apiRouteCheck: '/query/v2',
          postStatus: false,
        },
        lastUpdateIndex: "",
        lastUpdateMetric: "",
        status: "",
        campaignId: null,
        force: false
      }
    },
  methods: {
    check() {
      if(this.campaignId){
        axios.get(this.parameters.apiURL + this.parameters.apiRouteCheck + '/' + this.campaignId)
        .then(response => {
          this.postStatus = false;
          this.lastUpdateIndex = response.data.result.last_update_broadcasts;
          this.lastUpdateMetric = response.data.result.last_update_metric;
          this.status = response.data.result.status;
        })
      }else{
        this.$toasted.error("You should specify at least a campaignId.", {duration: 5000});
      }
    },
  push() {
    if(this.campaignId){
      var data = { "commands" : [{campaignId: this.campaignId, force: this.force}]};
      this.postStatus = true;

      axios.post(this.parameters.apiURL + this.parameters.apiRouteIndex, data)
      .then(response => {
      this.postStatus = false;

      this.$toasted.show('Task has been sent to the server.', {duration: 5000});
      })
      .catch(e => {
        this.postStatus = false;
        if(e.response){
          console.log(e.response);
          this.$toasted.info('Please check the log for more details. ' + e.response, {duration: 5000});
        } else if(e.request) {
          console.log(e.request);
          this.$toasted.info('Please check the log for more details.', {duration: 5000});
        } else {
          console.log("Error axios post : ", e.message);
          this.$toasted.info("Error axios post: " + e.message, {duration: 5000});
        }
        console.log(e.config);
      })
    } else
      this.$toasted.error("You should specify at least a campaignId.", {duration: 5000});
    }
  },
  components: {

  }
}
</script>

<style>
</style>