﻿<template>
    <div>
            <h4>Project Management</h4>

            <div class="form-group" v-bind:class="{'has-danger': !$v.selectedProject.required }">
                <comboBoxRest v-on:selectedValue="onProjectSelected" apiRoute="projects" valueProperty="name" keyProperty="id" placeholder="Select a project" />
            </div>
    </div>
</template>

<script>
    import comboBoxRest from '../global/utils/comboBoxRest'
    import { required } from 'vuelidate/lib/validators'

export default {
	data(){
        return {
            selectedProject: null
        }
	},
    methods: {
        onProjectSelected(value) {
            this.selectedProject = value;
            if (this.selectedProject)
                this.$router.push({ name: 'project', params: { projectId: this.selectedProject.key } });
        }
    },
    components: {
        comboBoxRest
    },
    validations: {

        selectedProject: {
            required
        }
    },
}
</script>