﻿<template>
    <div v-if="element">
        <h1>{{ element.name }}
            <span class="badge badge-primary">{{ element.apiKey }}</span>
            <span class="badge badge-primary">{{ element.id }}</span>
        </h1>
        <p class="text-right">
            <backButton label="Back"></backButton>
        </p>
        <div class="mt-1">
            <b-card no-block>
                <b-tabs small card ref="tabs">
                    <b-tab title="Features">
                        <projectFeatures :projectId="element.id"></projectFeatures>
                    </b-tab>
                    <b-tab title="Creatives">
                        <h1>TODO</h1>
                    </b-tab>
                    <b-tab title="...">
                        <h1>...</h1>
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
    </div>
</template>

<script>
    import backButton from '../global/utils/backButton'
    import projectFeatures from './projectFeatures'
    import axios from 'axios'
    import * as configuration from '../config'

export default {
	data(){
        return {
            element : null
        }
	},
	methods: {
    },
    mounted() {
        var projectId = this.$route.params.projectId;
        if (projectId) {
            var options = { headers: {} };
            options.headers[configuration.get("apiHeaderToken")] = configuration.get("apiToken");

            axios.get(configuration.get("apiUrl") + '/projects/' + projectId, options)
                .then(response => {
                    console.log(response);
                    this.element = response.data.result;
                });
        } else {

        }
    },
    components: {
        projectFeatures,
        backButton
    }
}
</script>