<template>
    <div>
        <div class="mb-1">
            <form>
                <div class="form-group row" v-bind:class="{'has-danger': !$v.selectedFeature.required }">
                    <label for="inputFeature" class="col-2 col-form-label">Name</label>
                    <div class="col-8">
                            <multiselect ref="comboBoxFeature" @select="onFeatureSelected" :option-width="300" :allow-empty="false" :loading="false" :debounce="250" :options="featureOptions" track-by="key" label="value"></multiselect>
                        </div>
                    <div class="col-2">
                        <b-btn @click="add()" variant="primary">Add</b-btn>
                    </div>
                </div>
            </form>
        </div>
            <ul v-if="elements" class="list-group">
                <router-link v-for="element in elements" tag="a" :to="{ name: 'featureEdit', params: { id: element.id }, query: { s: element.key }}" v-bind:data="element" v-bind:key="element.id" class="list-group-item justify-content-between" v-bind:class="{'list-group-item-success': element.enabled}">
                    {{ element.description }}
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </router-link>
            </ul>
  
</div>
</template>

<script>
    import * as configuration from '../config'
    import axios from 'axios'
    import { required } from 'vuelidate/lib/validators'
    import multiselect from 'vue-multiselect'

    export default {
        props: {
              projectId: {
                type: Number,
                default: 0
            }
        },
	    data(){
		    return {
                featureOptions: [
                    { "key": "googlesearchconsole", "value": "Google Search Console" },
                    { "key": "googleanalytics", "value": "Google Analytics" },
                    { "key": "aerospike_upload", "value": "Aerospike" },
                    { "key": "rai", "value": "RAI" },
                    { "key": "facebookads", "value": "Facebook Ads" },
                    { "key": "baselinechecking" , "value": "Baseline Checking" },
                    { "key": "PREDICTION_DEMO" , "value": "Prediction - DEMO" },
                    { "key": "PREDICTION_PROD" , "value": "Prediction - PROD" },
                    { "key": "PREDICTION_TRAIN" , "value": "Prediction - Train" },
                    { "key": "STRESS", "value": "Stress" },
                    { "key": "vol", "value" : "Vol" },
                    { "key": "shape_impact", "value" : "Shap Impact" },
                    { "key": "highpriority", "value": "High Priority" },
                    { "key": "geolocation", "value": "Geolocation" }  
                ],
                elements: null,
                selectedFeature: null
            }
	    },
        mounted() {
            var options = { headers: {} };
            options.headers[configuration.get("apiHeaderToken")] = configuration.get("apiToken");

            axios.get(configuration.get("apiUrl") + 'winterfell/features?projectId=' + this.projectId, options)
                .then(response => {
                    this.elements = response.data.result;

                    // Remove options based on existing options -> To avoid duplicates.

                    for (var i = 0; i < this.elements.length; i++) {
                        var element = this.elements[i];

                        var featureOptionIndex = this._.findIndex(this.featureOptions, function (featureOption) {
                            return featureOption.key.toLowerCase() == element.key.toLowerCase();
                        });

                        if (featureOptionIndex > -1) {
                            console.log(element.key);
                            this.featureOptions.splice(featureOptionIndex,1);
                        }
                    }              
                });
        },
        validations: {
            selectedFeature: {
                required
            }
        },
	    methods: {
            add(){
                console.log(this.$v.selectedFeature);
                        if (!this.$v.selectedFeature.$invalid) {
                            this.$router.push({ name: 'featureAdd', params: { projectId: this.projectId }, query: { s: this.selectedFeature.key } });
                        }else{
                console.log("Error");
            }
        },
        onFeatureSelected(value) {
            this.selectedFeature = value;
        }
    },
    components: {
        multiselect
    }
}
</script>

<style>
    /*.multiselect: {
        z-index: 1000 !important;
    }*/
</style>