<template>
    <div v-if="data.element">
        <b-form-fieldset id="f_name" horizontal label-text-align="right" label="Campaign's Name" :label-cols="3">
            <b-form-input size="sm" id="i_name" v-model.trim="data.element.name"></b-form-input>
        </b-form-fieldset>

        <b-form-fieldset id="f_combobox" horizontal label-text-align="right" label="Project" :label-cols="3">
            <comboBoxApi v-on:change="onProjectSelected" :value="data.project" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteProjects" placeholder="Select a Project" itemToTarget="name"></comboBoxApi>
        </b-form-fieldset>

        <div class="row" style="margin-left: 12rem !important;">
            <div class="col-6">
                <b-form-fieldset id="f_startdate" horizontal label-text-align="right" label="Start Date" :label-cols="3" size="sm">
                    <datepicker id="datepickerStartDate" v-model="data.element.dateStart" @change="forceUpdateDPStart" type="date" :picker-options="parameters.datePicker" placeholder="Start Date"></datepicker>
                </b-form-fieldset>
            </div>
            <div class="col-6">
                <b-form-fieldset id="f_enddate" horizontal label-text-align="right" label="End Date" :label-cols="3" size="sm">
                    <datepicker id="datepickerEndDate" v-model="data.element.dateEnd" @change="forceUpdateDPEnd" type="date" :picker-options="parameters.datePicker" placeholder="End Date"></datepicker>
                </b-form-fieldset>
            </div>
        </div>

        <b-form-fieldset id="f_metrics" horizontal label-text-align="right" label="Metrics" :label-cols="3" size="sm">
            <div class="twocolumns">
                <ul id="metricsList" v-if="metrics.length > 0" >
                    <li v-for="metric in metrics">
                        <b-popover placement="top" :content="JSON.stringify(metric)" :triggers="['click']" style="cursor: pointer">
                            {{ metric.alias }}
                        </b-popover>
                    </li>
                </ul>
                <ul id="metricsListEmpty" v-else>
                    <li>No Metrics added yet.</li>
                </ul>
            </div>
        </b-form-fieldset>

        <b-form-fieldset v-if="data.mtimeLastCompute" id="mTime_Compute" horizontal label-text-align="right" label="Last Compute" :label-cols="3" size="sm">
            <!-- <b-form-input size="sm" id="i_name" v-model="data.mtimeLastCompute"></b-form-input> -->
            {{ moment(data.mtimeLastCompute).format('MMM Do YYYY, H:mm:ss') }}
        </b-form-fieldset>

        <b-form-fieldset id="f_dp" horizontal label-text-align="right" label="DayPart Code" :label-cols="3" size="sm">
            <b-form-input size="sm" id="i_name" v-model.trim="data.element.daypartsCode"></b-form-input>
        </b-form-fieldset>

        <b-form-fieldset id="f_dpcomputationtype" horizontal label-text-align="right" label="DayPart Computation Type" :label-cols="3" size="sm">
            <multiselect ref="comboBoxDPCT" :value="data.dpComputationType" @select="onDPCTSelected" :option-width="300" :allow-empty="false" :loading="false" :debounce="250" :options="dpcomputationtypesList" track-by="key" label="value"></multiselect>
        </b-form-fieldset>


        <b-form-fieldset id="f_name" horizontal label-text-align="right" label="Country" :label-cols="3" size="sm">
            <comboBoxRest v-on:selectedValue="onCountrySelected" :value="data.country" valueProperty="name" keyProperty="id" sortType="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteCountries" placeholder="Select a Country"></comboBoxRest>
        </b-form-fieldset>

        <b-form-fieldset id="f_options" horizontal label-text-align="right" label="Options" :label-cols="3" size="sm">
            <b-form-checkbox id="chkbxPublic" v-model="data.element.enabled">Enabled</b-form-checkbox>
            <b-form-checkbox id="chkbxPublic" v-model="data.element.isPublic">Public</b-form-checkbox>
            <b-form-checkbox id="chkbxPublic" v-model="data.element.hasRetargeting">Retargeting</b-form-checkbox>
            <b-form-checkbox id="chkbxPublic" v-model="data.element.hasReport">Report</b-form-checkbox>
            <b-form-checkbox id="chkbxPublic" v-model="data.element.hasPredictive">Predictive</b-form-checkbox>
        </b-form-fieldset>

        <p class="text-right my-2">
            <b-btn @click="sendBackElement()" variant="success">
                <i class="fa fa-refresh" aria-hidden="true" style="color:white;"></i>  {{validateButtonText}}
            </b-btn>
        </p>
    </div>
</template>

<script>
import * as configuration from '../config'
import axios from 'axios'
import { required } from 'vuelidate/lib/validators'
import { DatePicker } from 'element-ui'
import ComboBoxRest from '../global/utils/comboBoxRest'
import ComboBoxApi from '../billing/comboBoxApi'
import multiselect from 'vue-multiselect'

var moment = require('moment');

export default {

    data(){
        return {
            parameters: {
                config: {
                    headers: {
                        [configuration.get("apiHeaderToken")]: configuration.get("apiToken"),
                        'Content-Type': 'application/json; charset=utf-8'
                    }
                },
                configData: {
                    withCredentials: true,
                    auth: {
                        username: "data",
                        password: "Choucroute42!"
                    }
                },
                datePicker: {firstDayOfWeek: 1},
                apiURL: configuration.get("apiUrl"),
                apiRouteProjects: 'projects',
                apiRouteCountries: 'public/countries/'
            },
            data: {
                name: '',
                project: null,
                country: null,
                dpComputationType: null,
                element: null,
                metrics: null,
                mtimeLastCompute: moment()
            },
            dpcomputationtypesList: [
                {"key": 0, "value": "Not defined"},
                {"key": 1, "value": "Computation By Break Codes And Minutes"},
                {"key": 2, "value": "Computation By Minutes Only"}
            ],
            featureOptions: [],
            elements: null,
            selectedFeature: null
        }
    },
    props: {
        projectId: {
            type: Number,
            default: 0
        },
        element: {
            type: Object,
            default: null
        },
        metrics: {
            type: Array,
            default: null
        },
        validateButtonText: {
            type: String,
            default: "Update"
        },
        outputModificationTime: {
            type: Date,
            default: null
        }
    },
    components: {
        ComboBoxRest,
        ComboBoxApi,
        multiselect,
        'datepicker': DatePicker
    },
    mounted() {

        if(this.element)
        {
            axios.get(this.parameters.apiURL + '' + this.parameters.apiRouteCountries + this.element.countryId, this.parameters.config)
            .then(response => {
                var countryName = response.data.result.name;
                this.data.country = {"key": this.element.countryId, "value": countryName};                            
            }).catch(e => {
                console.log(e);
            });

            //this.data.project = {"key": this.element.projectId, "value": this.element.project.name};
            this.data.project = this.element.project;
            this.data.element = this.element;
            this.data.metrics = this.metrics;
            this.data.mtimeLastCompute = this.outputModificationTime;
            this.data.dpComputationType = this.dpcomputationtypesList[this.element.daypartsComputationType];

            this.data.element.enabled == 1 ? this.data.element.enabled = true : this.data.element.enabled = false;
            this.data.element.isPublic == 1 ? this.data.element.isPublic = true : this.data.element.isPublic = false;
        }
    },
    validations: {
        selectedFeature: {
            required
        }
    },
    methods: {
        moment: function(date) {
            return moment(date);
        },
        onFeatureSelected(value) {
            this.selectedFeature = value;
        },
        onProjectSelected(value) {
            this.data.project = value;
            this.$emit('projectChange', value);
        },
        onCountrySelected(value) {
            this.data.country = value;
            this.$emit('countryChange', value);
        },
        onDPCTSelected(value) {
            this.data.element.daypartsComputationType = value.key;
            this.$emit('daypartsComputationTypeChange', value);
        },
        forceUpdateDPStart(value) {
            this.$emit('startDateChange', value);
        },
        forceUpdateDPEnd(value) {
            this.$emit('endDateChange', value);
        },
        sendBackElement(value) {
            this.$emit('elementChange', {"Campaign": this.data.element, "Metrics": this.data.metrics});
        }
    },
    computed: {

    },
    watch: {

    }
}
</script>

<style>
/*.multiselect {
    z-index: 1000 !important;
}
*/
.twocolumns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count:2  ;
}
</style>