<template>
    <div>
        <transition-group tag="div" name="slide-fade">
        <div v-if="parameters.isDisplayed" key="divContent">
            <h1 title="Parent's project">{{ element.campaign.project.name }}
                <span title="Campaign Name" class="badge badge-primary badge-primary-campaign">{{ element.campaign.name }}</span>
                <span title="Campaign Id" class="badge badge-primary badge-primary-campaign">{{ element.campaign.id }}</span>
            </h1>
            <p class="text-right">
                <backButton label="Back"></backButton>
            </p>
            <div class="mt-1">
                <b-card no-block>
                    <b-tabs small card ref="tabs">
                        <b-tab title="Features">
                            <campaignFeatures :element="element.campaign" :metrics="element.metrics" :outputModificationTime="element.outputModificationTime" v-on:elementChange="onElementChange"></campaignFeatures>
                        </b-tab>
                        <b-tab title="Creatives">
                            <h1>TODO</h1>
                        </b-tab>
                        <b-tab title="Dev/Debug">
                            <h1>raw data</h1>
                            <pre>{{ element }}</pre>
                        </b-tab>
                    </b-tabs>
                </b-card>
            </div>
        </div>
        <div v-if="parameters.isLoading" class="text-center spinnerDiv" key="divLoading">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
        </transition-group>
    </div>
</template>

<script>
    import backButton from '../global/utils/backButton'
    import campaignFeatures from './campaignFeatures'
    import axios from 'axios'
    import * as configuration from '../config'

export default {
    data(){
        return {
            parameters: {
                config: {
                    headers: {
                        [configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
                        'Content-Type': 'application/json; charset=utf-8'
                    }
                },
                apiURL: configuration.get('apiUrl'),
                apiRouteCreateCampaign: 'winterfell/campaign',
                isLoading: true,
                isDisplayed: false,
                errors: [],
                toasterOptions: {
                    duration: 5000
                }
            },
            element : null
        }
    },
    methods: {
        onElementChange(value) {
            if(value) {
                debugger;
                console.log(value);

                axios.put(this.parameters.apiURL + '' + this.parameters.apiRouteCreateCampaign + '/' + this.element.campaign.id, value, this.parameters.config)
                    .then(response => {
                        this.$toasted.info("Campaign successfully updated", this.parameters.toasterOptions);
                    })
                    .catch(e => {
                        this.parameters.errors.push(e);
                        console.log(this.parameters.errors);
                        this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
                    })
            }
        }
    },
    mounted() {
        var campaignId = this.$route.params.campaignId;
        if (campaignId) {
            var options = { headers: {} };
            options.headers[configuration.get("apiHeaderToken")] = configuration.get("apiToken");

            axios.get(configuration.get("apiUrl") + 'winterfell/campaign/' + campaignId, options)
                .then(response => {
                    this.element = response.data.result;
                    this.parameters.isLoading = false;
                });
        } else {
            this.$toaster.error("An error occured : no campaignId", this.parameters.toasterOptions);
        }
    },
    components: {
        campaignFeatures,
        backButton
    },
    watch: {
        'parameters.isLoading': function(val) {
            if(!val)
                setTimeout(x=> this.parameters.isDisplayed = true, 500);
            else
                this.parameters.isDisplayed = false;
        }
    }
}
</script>

<style>
.badge-primary-campaign{
    background-color: #AEE239 !important;
}
</style>