<template>
    <div>
        <div>
            <h1 title="Parent's project">{{ element.campaign.project.name }}
                <span title="Campaign Name" class="badge badge-primary badge-primary-campaign">{{ element.campaign.name }}</span>
            </h1>
            <p class="text-right">
                <backButton label="Back"></backButton>
            </p>
            <div class="mt-1">
                <b-card no-block>
                    <b-tabs small card ref="tabs">
                        <b-tab title="Features">
                            <campaignFeatures v-on:projectChange="onProjectSelect" v-on:startDateChange="onStartDateSelect" v-on:endDateChange="onEndDateSelect" v-on:countryChange="onCountrySelect" v-on:daypartsComputationTypeChange="onDayPartsCompTypeSelect" :element="element.campaign" :metrics="element.metrics" validateButtonText="Create"></campaignFeatures>
                        </b-tab>
                    </b-tabs>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
import backButton from '../global/utils/backButton'
import campaignFeatures from './campaignFeatures'
import axios from 'axios'
import * as configuration from '../config'

var moment = require('moment');

export default {
    data(){
        return {
            parameters: {
                isDisplayed: false
            },
            element : {
                campaign: {
                  id: null,
                  customerName: "",
                  name: "New Campaign",
                  projectId: null,
                  countryId: null,
                  daypartsCode: 'fr',
                  dateStart: moment(),
                  dateEnd: moment(),
                  defaultSpotImpactTimeInMin: 6,
                  defaultSponsoringTimeInMin: 6,
                  defaultSpotPrice: 0,
                  retentionInMin: 30240,
                  isPublic: true,
                  dateSpotsLastUpdate: 0,
                  daypartsComputationType: 1,
                  enabled: true,
                  project: {
                    customerId: null,
                    countryId: null,
                    enabled: null,
                    businessTypeId: null,
                    dataEnabled: null,
                    features: {
                      actionExportSpotEnabled: 1,
                      actionExportTimelineEnabled: 1,
                      sectionDataEnabled: 1,
                      sectionMembersEnabled: 1,
                      sectionProjectionsEnabled: 1,
                      sectionTvEnabled: 1,
                      widgetsDistributionChannelsEnabled: 1
                    },
                    apiKey: null,
                    name: 'Project',
                    id: null,
                    normalizedName: null
                  },
                  priceFirstId: 1,
                  priceSecondId: 0,
                  priceThirdId: 0,
                  targetFirstId: 0,
                  targetSecondId: 0,
                  targetThirdId: 0,
                  lreBeginOffset: 7,
                  lreEndOffset: 21,
                  featureIndirectStatus: 1,
                  computationDateEnd: null,
                  computationDateStart: null,
                  broadcastDateEnd: null,
                  broadcastDateStart: null,
                  isTest: false,
                  featureMobileStatus: 0,
                  featureVisitsModelV2Status: 1,
                  featureGlobalTimelineStatus: 0,
                  currencyId: 1,
                  context: 1,
                  projectionId: 0,
                  hasRetargeting: false,
                  hasPredictive: false,
                  hasReport: false,
                  dates: {
                    timelineBegin: null,
                    timelineEnd: null,
                    broadcastBegin: null,
                    broadcastEnd: null,
                    indirectEnd: null,
                    differedEnd: null,
                    globalEnd: null,
                    globalEndTimestamp: null,
                    differedEndTimestamp: null,
                    indirectEndTimestamp: null,
                    broadcastEndTimestamp: null,
                    broadcastBeginTimestamp: null,
                    timelineBeginTimestamp: null,
                    timelineEndTimestamp: null
                  }
                },
                metrics: []
            }
        }
    },
    methods: {
        moment: function(date) {
            return moment(date);
        },
        onProjectSelect(value) {
            this.element.campaign.project = value;
            this.element.campaign.projectId = value.id;
            this.element.campaign.customerName = value.name;
        },
        onStartDateSelect(value) {
            this.element.campaign.dateStart = value;
        },
        onEndDateSelect(value) {
            this.element.campaign.dateEnd = value;
        },
        onCountrySelect(value) {
            if(value) { this.element.campaign.countryId = value.key }
         },
        onDayPartsCompTypeSelect(value) {
            if(value) { this.element.campaign.daypartsComputationType = value.key }
        }
    },
    mounted() {
        // var campaignId = this.$route.params.campaignId;
        // if (campaignId) {
        //     var options = { headers: {} };
        //     options.headers[configuration.get("apiHeaderToken")] = configuration.get("apiToken");

        //     axios.get(configuration.get("apiUrl") + 'winterfell/campaign/' + campaignId, options)
        //         .then(response => {
        //             console.log(response);
        //             this.element = response.data.result;
        //         });
        // } else {

        // }
    },
    components: {
        campaignFeatures,
        backButton
    },
    watch: {
        // element: function() {
        //     if(element)
        //         setTimeout(x=> this.parameters.isDisplayed = true, 500);
        //     else
        //         this.parameters.isDisplayed = false;
        // }
    }
}
</script>

<style>
.badge-primary-campaign{
    background-color: #AEE239 !important;
}
</style>