<template>
    <div>
    	<div class="row my-3">
    		<div class="col-10">
        		<h4>Campaign Management</h4>
    		</div>
    		<div class="col-2">
    			<b-btn @click="goToNewCampaign()" variant="success">
    			    <i class="fa fa-plus" aria-hidden="true" style="color:white;"></i>  New
    			</b-btn>
    		</div>
    	</div>
        <transition-group tag="div" name="slide-fade">
			<div v-if="parameters.isDisplayed" key="divListing" id="listingContent" class="my-3">
				<div class="justify-content-center row">
					<b-form-fieldset horizontal label="Rows per page" class="col-6" :label-cols="6">
						<b-form-select :options="[{text:10,value:10},{text:50,value:50},{text:100,value:100}, {text:'All',value:9999}]" v-model="data.perPage">
						</b-form-select>
					</b-form-fieldset>

					<b-form-fieldset horizontal label="Filter" class="col-6" :label-cols="2">
						<b-form-input v-model="data.filter" placeholder="Type to Search"></b-form-input>
					</b-form-fieldset>
				</div>

				<!-- Main table element -->
				<b-table small striped hover id="tableListing" class="clickable" :items="data.listing" :fields="data.fields" :sort-by.sync="data.sortBy" :sort-desc.sync="data.sortDesc" :current-page="data.currentPage" :per-page="data.perPage" :filter="data.filter" :show-empty="true" @row-clicked="onCampaignSelected">
					<template slot="campaignDateStart" scope="item">
						{{ moment(campaignDateStart(item)).format('MMM Do YYYY') }}
					</template>
					<template slot="campaignDateEnd" scope="item">
						{{ moment(campaignDateEnd(item)).format('MMM Do YYYY') }}
					</template>
					<template slot="status" scope="item">
						<template v-if="compareDates(campaignDateStart(item), campaignDateEnd(item)) == 0">
							<i title="Scheduled" class="fa fa-clock-o" aria-hidden="true"></i>
						</template>
						<template v-if="compareDates(campaignDateStart(item), campaignDateEnd(item)) == 1">
							<i title="Recording" class="fa fa-circle animationglow red" aria-hidden="true"></i>
						</template>
						<template v-if="compareDates(campaignDateStart(item), campaignDateEnd(item)) == 2">
							<i title="Over" class="fa fa-archive paperbox" aria-hidden="true"></i>
						</template>
					</template>
				</b-table>

				<div class="justify-content-center row my-1">
					<b-pagination size="md" :total-rows="this.data.listing.length" :per-page="data.perPage" v-model="data.currentPage" />
				</div>
			</div>
			<div v-if="parameters.isLoading" key="divSpinner" id="spinnerLoading" class="text-center spinnerDiv">
				<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
			</div>
		</transition-group>
    </div>

</template>

<script>
import axios from 'axios'
import * as configuration from '../config'

var moment = require('moment');

export default {
	data(){
		return {
			parameters: {
				config: {
					headers: {
						[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
						'Content-Type': 'application/json; charset=utf-8'
					}
				},
				apiURL: configuration.get('apiUrl'),
				apiRouteCampaigns: 'campaigns',
				isLoading: true,
				isDisplayed: false,
			},
			data: {
				listing: null,
				perPage: 200,
				currentPage: 1,
				sortBy: "id",
				sortDesc: false,
				filter: null,
				fields: {
					id: {
						label: "id",
						sortable: true
					},
					projectName: {
						label: "Project Name",
						sortable: true
					},
					name: {
						label: "Campaign Name",
						sortable: true
					},
					campaignDateStart: {
						label: "Campaign StartDate",
						sortable: true
					},
					campaignDateEnd: {
						label: "Campaign EndDate",
						sortable: true
					},
					status: {
						label: "Status",
						sortable: false
					}
				}
			},
			selectedCampaign: null
		}
	},
	mounted() {
		axios.get(this.parameters.apiURL + '' + this.parameters.apiRouteCampaigns, this.parameters.config)
		.then(response => {
			this.parameters.isLoading = false;
			this.data.listing = response.data.result.reverse();
		})
		.catch(e => {
			this.parameters.errors.push(e);
			console.log(this.parameters.errors);
		})
	},
	methods: {
		moment: function(date) {
			return moment(date)
		},
		campaignDateStart: function(item) {
			return moment(item.item.campaignDateStart * 1000);
		},
		campaignDateEnd: function(item) {
			return moment(item.item.campaignDateEnd * 1000);
		},
		onCampaignSelected(val) {
			this.selectedCampaign = val;
			if(this.selectedCampaign)
				this.$router.push({
					name: 'campaign',
					params: {
						campaignId: this.selectedCampaign.id
					}
				});
		},
		goToNewCampaign() {
			this.$router.push({
				name: 'campaignCreate'
			});
		},
		compareDates(startDate, endDate) {
			
			if(moment() < moment(startDate))
				return 0;
			if(moment(startDate) < moment() && moment() < moment(endDate))
				return 1;
			if(moment(endDate) < moment())
				return 2;
		}
	},
	components: {

	},
	watch: {
		//fix to avoid a bump when the loading spinner exits and the listing appears
		'parameters.isLoading': function(val) {
			if(!val)
				setTimeout(x => this.parameters.isDisplayed = true , 500);
		},
		'data.filter': function(val) {
			if(val.length > 0)
				this.data.currentPage = 1;
		}
	},
	computed: {

	}
}
</script>

<style>
.clickable {
	cursor: pointer;
}

@-webkit-keyframes flash {
	0%,100%,50% {
		opacity:1
	}
	25%,75% {
		opacity:0
	}
}
@keyframes flash {
	0%,100%,50% {
		opacity:1
	}
	25%,75% {
		opacity:0
	}
}

.animationglow {
	-webkit-animation: flash 4s ease infinite;
	animation: flash 4s ease infinite;
}

.red {
	color: red;
}

.paperbox {
	color: #EAE2CF;
	text-shadow: 0px 0px 3px #000;
}

</style>