﻿body {
    /*padding-top: 50px;*/
    padding-top: 56px;
}

body, html {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* fixed and fluid on sm and up */
@media (min-width: 544px) {
    .fixed {
        flex: 0 0 200px;
    }
}

.col.fluid {
    min-height: 100%;
}

[v-cloak] {
    display: none;
}