﻿<template>
    <div v-if="element" class="mt-3 mb-3">
        <h4>{{ id ? "Edit" : "Add" }}</h4>
        <div class="row">
            <div class="col-6">
                <div class="form-group" v-bind:class="{'has-danger': !$v.element.metadata.mobile_audience_id.required }">
                    <label for="inputMobileAudience" class="form-label">Mobile Audience Id</label>
                    <input id="inputMobileAudience" v-model="element.metadata.mobile_audience_id" @input="$v.element.metadata.mobile_audience_id.$touch()" type="string" class="form-control" placeholder="Mobile Audience Id" />
                    <div class="form-control-feedback" v-if="!$v.element.metadata.mobile_audience_id.required">Field is required</div>
                </div>
                <div class="form-check">
                    <b-form-checkbox v-model="element.isPublic">{{ element.isPublic ? "Public" : "Private"}}</b-form-checkbox>
                </div>
                <div class="form-check">
                    <b-form-checkbox v-model="element.enabled">{{ element.enabled ? "Enabled" : "Disabled"}}</b-form-checkbox>
                </div>
                <div class="form-group">
                    <div class="col">
                        <b-btn @click="update()" variant="primary">Update</b-btn>
                        <backButton label="Back"></backButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    import backButton from '../global/utils/backButton'
    import featureMixins from './featureMixins';

    export default {
        mixins: [featureMixins],
        data() {
            return {
                templateElement: {
                    "projectId": "",
                    "enabled": true,
                    "metadata": {
                        "mobile_audience_id": "",
                    }
                }
            }
        },
        validations() {
            if (this.element) {
                return { element: { metadata: { mobile_audience_id: { required } } } }
            }
            return {};
        },
        components: {
            backButton
        }
    };

</script>