﻿<template>
    <div v-if="element" class="mt-3 mb-3">
        <h4>{{ id ? "Edit" : "Add" }}</h4>
        <div class="row">
            <div class="col-6">
                <div class="form-check">
                    <b-form-checkbox v-model="element.isPublic">{{ element.isPublic ? "Public" : "Private"}}</b-form-checkbox>
                </div>
                <div class="form-check">
                    <b-form-checkbox v-model="element.enabled">{{ element.enabled ? "Enabled" : "Disabled"}}</b-form-checkbox>
                </div>
                <div class="form-group">
                    <div class="col">
                        <b-btn @click="update()" variant="primary">Update</b-btn>
                        <backButton label="Back"></backButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import backButton from '../global/utils/backButton'
    import featureMixins from './featureMixins';

    export default {
        mixins: [featureMixins],
        data() {
            return {
                templateElement: {
                    "projectId": "",
                    "isPublic" : false,
                    "enabled": true
                }    
            }
        },
        components: {
            backButton
        }
    }

</script>