﻿<template>
    <div v-if="element" class="mt-3 mb-3">
        <h4>{{ id ? "Edit" : "Add" }}</h4>
            <div class="row">
                <div class="col-6">
                    <div class="form-group" v-bind:class="{'has-danger': !$v.element.metadata.website.required }">
                        <label for="inputWebsite" class="form-label">Website</label>
                        <input id="inputWebsite" v-model="element.metadata.website" @input="$v.element.metadata.website.$touch()" type="string" class="form-control" placeholder="Website" />
                        <div class="form-control-feedback" v-if="!$v.element.metadata.website.required">Field is required</div>
                    </div>
                    <div class="form-group">
                        <label for="inputCountry" class="form-label">Country</label>
                        <b-form-select v-model="element.metadata.country" :options="countries" class="mb-3">
                        </b-form-select>
                    </div>
                    <div class="form-check">
                        <b-form-checkbox v-model="element.isPublic">{{ element.isPublic ? "Public" : "Private"}}</b-form-checkbox>
                    </div>
                    <div class="form-check">
                        <b-form-checkbox v-model="element.enabled">{{ element.enabled ? "Enabled" : "Disabled"}}</b-form-checkbox>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <b-btn @click="update()" variant="primary">Update</b-btn>
                            <backButton label="Back"></backButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    import backButton from '../global/utils/backButton'
    import featureMixins from './featureMixins';

    export default {
        mixins: [featureMixins],
        data() {
            return {
                templateElement: {
                    "projectId": "",
                    "enabled": true,
                    "metadata": {
                        "website": "",
                        "country": "FRA"
                    }
                },
                countries: [{
                    text: 'France', value: 'FRA'
                },
                {
                    text: 'Germany', value: 'DEU'
                },
                {
                    text: 'South Africa',
                    value: 'ZAF'
                }]
            }
        },
        validations() {
            if (this.element) {
                return { element: { metadata: { website: { required } } } }
            }
            return {};
        },
        components: {
            backButton
        }
    };
    
</script>