﻿<template>
    <div v-if="element" class="mt-3 mb-3">
        <h4>{{ id ? "Edit" : "Add" }}</h4>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="inputLevel" class="form-label">Level</label>
                        <b-form-select v-model="element.metadata.levelId" :options="levels" class="mb-3">
                        </b-form-select>
                    </div>
                    <div class="form-check">
                        <b-form-checkbox v-model="element.metadata.retroactive">{{ element.metadata.retroactive ? "Retroactive" : "Not Retroactive"}}</b-form-checkbox>
                    </div>
                    <div class="form-check">
                        <b-form-checkbox v-model="element.isPublic">{{ element.isPublic ? "Public" : "Private"}}</b-form-checkbox>
                    </div>
                    <div class="form-check">
                        <b-form-checkbox v-model="element.enabled">{{ element.enabled ? "Enabled" : "Disabled"}}</b-form-checkbox>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <b-btn @click="update()" variant="primary">Update</b-btn>
                            <backButton label="Back"></backButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    import backButton from '../global/utils/backButton'
    import featureMixins from './featureMixins';

    export default {
        mixins: [featureMixins],
        data() {
            return {
                templateElement: {
                    "projectId": "",
                    "enabled": true,
                    "metadata": {
                        "levelId": "",
                        "retroactive": true
                    }
                },
                levels: [
                    { text: 'FRA - Département', value: 2 },
                    { text: 'FRA - Région', value: 1 },
                    { text: 'DE - Bundesland', value: 5 },
                    { text: 'DE - Regierungsbezirk', value: 6 },
                    { text: 'ES - Community', value: 8 },
                    { text: 'UK - Region', value: 10 }
                ]
            }
        },
        validations() {
            if (this.element) {
                return { element: { metadata: { levelId: { required } } } }
            }
            return {};
        },
        components: {
            backButton
        }
    };
    
</script>