<template>
	<div id="">
	</div>
</template>

<script>
import * as configuration form '../config'

export default {
	data() {
		return {
			parameters: {
				config: {
					headers: {
						[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
						'Content-Type': 'application/json; charset=utf-8'
					},
				}
			},
			datas: {

			}
		}
	},
	components: {

	},
	props: {

	},
	methods: {

	},
	computed: {

	},
	watch: {

	},
	mounted() {

	},
	beforeDestroy() {

	}
}
</script>

<style>
</style>