<template>
	<div class="mt-3 mb-3" v-cloak>
		<comboBoxApi :value="salesContact" v-bind:class="{ 'has-danger' : $v.salesContact.$error }" @change="updateValueSalesContact" itemToTarget="firstName" :apiUrl="parameters.apiURL" apiRoute="winterfell/billing/salesperson" :isName="true" placeholder="Search through Sales People" id="selectSalesPerson" style="width:400px;margin: 40px auto 10px auto"></comboBoxApi>
		<b-list-group>
			<b-list-group-item v-b-toggle.collapseContacts >Contacts</b-list-group-item>
			<b-collapse id="collapseContacts" class="collapse in">
				<b-card>
					<!-- CLIENT PART -->
					<div class="row">
						<div class="col-4">
							<div class="row" style="height:35px">
								<div class="col-8">
									<h5 class="mt-0 ml-0 d-inline">1) Client</h5><label class="mt-0">/Group<b-btn v-b-toggle.collapseGroup type="checkbox" style="visibility:hidden" name="checkbox" value="value"></b-btn></label>
								</div>
								<div class="col-4">
									<app-switch classes="is-warning" v-model="isDirect" checked> {{ isDirectLabel }} </app-switch>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<b-collapse id="collapseGroup">
										<b-card>
											<div class="form-group">
												<label for="formClientisGroup" class="control-label col-form-label col-form-label-sm">Group</label>
												<comboBoxApi :value="datas.client.group" ref="formClientisGroup" @change="updateValueGroup" @remove="updateValueGroup" itemToTarget="name" :apiUrl="parameters.apiURL" apiRoute="winterfell/billing/companygroup" :isName="false" placeholder="Search through Groups" id="formClientName"></comboBoxApi>
											</div>
										</b-card>
									</b-collapse>
								</div>
							</div>
							<form>
								<div class="form-group" v-bind:class="{ 'has-danger' : $v.datas.client.campaign.$error }">
									<label for="formClientName" class="col-form-label col-form-label-sm">Name</label>
									<comboBoxApi :value="datas.client.campaign" v-bind:class="{ 'has-danger' : $v.datas.client.campaign.$error }" ref="comboBoxClients" @change="updateValue" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteClients" :isName="false" placeholder="Search through Projects"></comboBoxApi>
								</div>
								<div class="form-group" v-bind:class="{ 'has-danger' : $v.datas.client.address.$error }">
									<label for="formClientAddress1" class="col-form-label col-form-label-sm">Address</label>
									<input v-model="datas.client.address.street" disabled ref="formClientAddress1" @input="$v.datas.client.address.$touch()" type="text" class="form-control form-control-sm" id="formClientAddress1" placeholder="Street">
									<div class="row mt-1">
										<div class="col-4">
											<input v-model="datas.client.address.zipcode" disabled @input="$v.datas.client.address.$touch()" type="text" class="form-control form-control-sm mr-0" id="formClientAddress2" placeholder="ZipCode">
										</div>
										<div class="col-8">
											<input v-model="datas.client.address.city" disabled @input="$v.datas.client.address.$touch()" type="text" class="form-control form-control-sm ml-0" id="formClientAddress3" placeholder="City">
										</div>
									</div>
								</div>
								<div class="form-group" v-bind:class="{ 'has-danger' : $v.datas.client.commercial.$error }">
									<label for="comboBoxCommercials" class="col-form-label col-form-label-sm">Commercial</label>
									<comboBoxApi :value="datas.client.commercial" v-bind:class="{ 'has-danger' : $v.datas.client.commercial.$error }" ref="comboBoxCommercials" @change="updateValueCommercial" itemToTarget="firstName" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteCommercials" :isName="true" placeholder="Please choose a Contact"></comboBoxApi>
								</div>			  	
							</form>
						</div>
						<!-- AGENCY PART -->
						<div class="col-4">
							<div class="row" style="height:35px">
								<div class="col">
									<h5 class="mt-0">2) Agency</h5>
								</div>
							</div>
							<form>
								<div class="form-group" v-bind:class="{ 'has-danger' : $v.datas.agency.object.$error }">
									<label for="comboBoxAgency" class="col-form-label col-form-label-sm">Name</label>
									<comboBoxApi :value="datas.agency.object" v-bind:class="{ 'has-danger' : $v.datas.agency.object.$error }" ref="comboBoxAgency" @change="updateValueAgency" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteAgency" :disabled="isDirect" :isName="false" placeholder="Please choose an Agency"></comboBoxApi>
								</div>
								<transition name="fade">
									<div class="form-group" v-show="!isDirect" v-bind:class="{ 'has-danger' : $v.datas.agency.address.$error }">
										<label for="formBillingAddress1" class="col-form-label col-form-label-sm">Address</label>
										<input v-model="datas.agency.address.street" @input="$v.datas.agency.address.$touch()" type="text" class="form-control form-control-sm" id="formBillingAddress1" placeholder="Street" :disabled="isDirect">
										<div class="row mt-1">
											<div class="col-4">
												<input v-model="datas.agency.address.zipcode" @input="$v.datas.agency.address.$touch()" type="text" class="form-control form-control-sm mr-0" id="formBillingAddress2" placeholder="ZipCode" :disabled="isDirect">
											</div>
											<div class="col-8">
												<input v-model="datas.agency.address.city" @input="$v.datas.agency.address.$touch()" type="text" class="form-control form-control-sm ml-0" id="formBillingAddress3" placeholder="City" :disabled="isDirect">
											</div>
										</div>
									</div>
								</transition>
								<transition name="fade">
									<div class="form-group" v-show="!isDirect" v-bind:class="{ 'has-danger' : $v.datas.agency.contact.$error }">
										<label for="formBillingCommercial1" class=" col-form-label col-form-label-sm">Commercial</label>
										<comboBoxApi :value="datas.agency.contact" v-bind:class="{ 'has-danger' : $v.datas.agency.contact.$error }" ref="comboBoxAgencyContact" @change="updateValueAgencyContact" itemToTarget="name" :isName="true" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteAgencyContact" placeholder="Please choose a Contact"></comboBoxApi>
									</div>
								</transition>
							</form>
						</div>
						<!-- BILLING PART -->	
						<div class="col-4" v-on:click="showAlertBilling()">
							<div class="row" style="height:35px">
								<div class="col-4">
									<h5 class="mt-0">3) Billing</h5>
								</div>
								<div class="col-8">
									<b-form-radio v-model="datas.billing.whoToBill" :options="radioBillingOptions" :stacked="false"></b-form-radio>
								</div>
							</div>

							<form>
								<div class="form-group row" v-bind:class="{ 'has-danger' : $v.datas.billing.object.$error }">
									<template v-if="datas.billing.whoToBill != 2">
										<div class="col">
											<label for="formBillingName" class="col-form-label col-form-label-sm">Contact</label>
											<comboBoxApi :value="datas.billing.contact" v-bind:class="{ 'has-danger' : $v.datas.billing.object.$error }" ref="comboBoxBilling" @change="updateValueBilling" itemToTarget="firstName" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteBilling" :isName="true" placeholder="Please choose a Billing Contact" :disabled="isLockedBilling"></comboBoxApi>
										</div>
									</template>
									<template v-else>
										<div class="col-10">
											<label for="formBillingName" class="col-form-label col-form-label-sm">Contact</label>
											<comboBoxApi :value="datas.billing.contact" v-bind:class="{ 'has-danger' : $v.datas.billing.object.$error }" ref="comboBoxBilling" @change="updateValueBilling" itemToTarget="firstName" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteBilling" :isName="true" placeholder="Please choose a Billing Contact" :disabled="isLockedBilling"></comboBoxApi>
										</div>
										<div class="col-2 mt-4 p-0">
											<b-btn @click="showModalNewThirdAddress()" variant="primary" style="width: 60px; margin-left: auto;">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</b-btn>
										</div>
									</template>
								</div>
								<div class="form-group" v-bind:class="{ 'has-danger' : $v.datas.billing.address.$error }">
									<label for="formBillingAddress1" class="col-form-label col-form-label-sm">Address</label>
									<input v-model="datas.billing.address.street" @input="$v.billing.address.$touch()" type="text" class="form-control form-control-sm" id="formBillingAddress1" placeholder="Street" disabled>
									<div class="row mt-1">
										<div class="col-4">
											<input v-model="datas.billing.address.zipcode" @input="$v.billing.address.$touch()" type="text" class="form-control form-control-sm mr-0" id="formBillingAddress2" placeholder="ZipCode" disabled>
										</div>
										<div class="col-8">
											<input v-model="datas.billing.address.city" @input="$v.billing.address.$touch()" type="text" class="form-control form-control-sm ml-0" id="formBillingAddress3" placeholder="City" disabled>
										</div>
									</div>
								</div>
								<div class="form-group" v-bind:class="{ 'has-danger' : $v.datas.billing.TVA.$error }">
									<label for="formBillingTVA" @input="$v.datas.billing.TVA.$touch()" class="col-form-label col-form-label-sm">n° TVA</label>
									<input v-model="datas.billing.TVA" type="text" class="form-control form-control-sm" id="formBillingTVA" placeholder="TVA" :disabled="isLockedBilling">
								</div>
								<div class="form-group" v-bind:class="{ 'has-danger' : $v.datas.billing.PO.$error }">
									<label for="formBillingPO" @input="$v.datas.billing.PO.$touch()" class="col-form-label col-form-label-sm">n° PO</label>
									<input v-model="datas.billing.PO" type="text" class="form-control form-control-sm" id="formBillingPO" placeholder="PO" :disabled="isLockedBilling">
								</div>
							</form>
						</div>
					</div>
				</b-card>
			</b-collapse>
			<!-- PROJECTS PART -->
			<b-list-group-item v-b-toggle.collapseProject >Project</b-list-group-item>
			<b-collapse id="collapseProject" class="collapse in">
				<b-card>
					<projectsManager></projectsManager>
				</b-card>
			</b-collapse>
			<!-- COMMENTS PART -->
			<b-list-group-item v-b-toggle.collapseComments >Comments</b-list-group-item>
			<b-collapse id="collapseComments" class="collapse in">
				<b-card>
					<div class="row">
						<div class="col-6">
							<h6>Displayed in the order</h6>
							<textarea v-model="comment.textOrder" class="boxSizingBorder" rows="5" style="width:100%" type="text" placeholder="Please fill in any comments regarding the Order" :maxlength="comment.size"></textarea>
							<small style="color:#C0BBB5">{{ remainingCharactersOrder }}</small>
						</div>
						<div class="col-6">
							<h6>To the attention of the Customer Success</h6>
							<textarea v-model="comment.textCustomerSuccess" class="boxSizingBorder" rows="5" style="width:100%" type="text" placeholder="Please fill in any comments intended for the Customer Success" :maxlength="comment.size"></textarea>
							<small style="color:#C0BBB5">{{ remainingCharactersCustomerSuccess }}</small>
						</div>
					</div>
				</b-card>
			</b-collapse>
			<hr/>
			<b-btn @click="pushJSON()" variant="primary" style="width: 150px; margin-left: auto;" :disabled="isPosted">
				<i v-bind:class="[postStatus ? 'fa-spin' : '']" class="fa fa-cog fa-lg fa-fw"></i> Save
			</b-btn>
		</b-list-group>

		<modalNewThirdPartyAddress v-if="datas.client.id" :companyId="datas.client.id"></modalNewThirdPartyAddress>

	</div>
</template>

<script>
import projectsManager from './billingProjectsWrapper'
import modalNewThirdPartyAddress from './modalNewThirdPartyAddress'
import comboBoxApi from './comboBoxApi'
import Switch from './Switch'
import EventBus from '../global/eventBus.js'
import axios from 'axios'
import { required, alphaNum } from 'vuelidate/lib/validators'
import * as configuration from '../config'

function initalStateDatas(){
	return{
		client: {
			name: null,
			group: null,
			id: null,
			crmId: null,
			campaign: null,
			commercial: null,
			address: {
				street: null,
				zipcode: null,
				city: null,
				country: null
			}
		},
		agency: {
			object: null,
			contact: null,
			address: {
				street: null,
				zipcode: null,
				city: null,
				country: null
			}
		},
		billing: {
			contact: null,
			name: null,
			TVA: null,
			PO: null,
			whoToBill: null,
			address: {
				street: null,
				zipcode: null,
				city: null,
				country: null
			}
		}
	}
}

function initialStateClient(){
	return{
		name: null,
		group: null,
		id: null,
		crmId: null,
		campaign: null,
		commercial: null,
		address: {
			street: null,
			zipcode: null,
			city: null,
			country: null
		}
	}
}

function initialStateAgency(){
	return{
		object: null,
		contact: null,
		address: {
			street: null,
			zipcode: null,
			city: null,
			country: null
		}
	}
}

function initialStateBilling(){
	return{
		whoToBill: null,
		object: null,
		name: null,
		TVA: null,
		PO: null,
		address: {
			street: null,
			zipcode: null,
			city: null,
			country: null
		}
	}
}

function initialStateAddress(){
	return {
		street: '',
		zipcode: '',
		city: '',
		country: ''
	}
}

function getAddressCRM(apiURL, apiRoute, id, apiRouteEnd){
	return new Promise(function(resolve, reject) {

		console.log(apiURL + '' + apiRoute + "/" + id + apiRouteEnd);

		axios.get(apiURL + '' + apiRoute + "/" + id + apiRouteEnd).then(response => {
			resolve(response.data.result[0]);
		})
		.catch(e => {
			this.errors.push(e);
			console.log(this.errors);
			reject(Error("error"));
		})
	})
}

export default {
	data() {
		return{
			parameters: {
				config: {
					headers: {
						[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
						'Content-Type': 'application/json; charset=utf-8'
					},
				},
				apiURL: configuration.get("apiUrl"),
				apiRouteClients: "winterfell/billing/company",
				apiRouteClients_: "winterfell/billing/company",
				apiRouteCountries: 'public/countries',
				apiRouteCommercials: null,
				apiRouteSales: "winterfell/billing/salesperson",
				apiRouteAgency: "winterfell/billing/agency",
				apiRouteAgencyContact: "winterfell/billing/billcontact",
				apiRouteBilling: null,
				apiRouteBilling_: "winterfell/billing/billingaddress",
				authorId: 7
			},
			salesContact: null,
			datas: {
				client: {
					name: null,
					group: null,
					id: null,
					crmId: null,
					campaign: null,
					commercial: null,
					address: {
						street: null,
						zipcode: null,
						city: null,
						country: null
					}
				},
				agency: {
					object: null,
					contact: null,
					address: {
						street: null,
						zipcode: null,
						city: null,
						country: null
					}
				},
				billing: {
					whoToBill: null,
					contact: null,
					name: null,
					TVA: null,
					PO: null,
					address: {
						street: null,
						zipcode: null,
						city: null,
						country: null
					}
				}
			},
			comment: {
				sizeOrder: 500,
				sizeCustomerSuccess: 500,
				textOrder: "",
				textCustomerSuccess: ""
			},
			radioBillingOptions: [{
				text: 'Client',
				value: 0,
				disabled: true,
				checked: true
			}, {
				text: 'Agency',
				value: 1,
				disabled: true
			}, {
				text: 'Third party',
				value: 2,
				disabled: true
			}],
			toasterOptions: {
				duration: 5000
			},
			isDirect: false,
			isDirectLabel: '',
			isLockedBilling: true,
			isThirdParty: false,
			errors: [],
			dismissBillingAlert: false,
			jsonObject: {
				billingPart: {},
				projectsPart: [],
				commentsPart : {
					commentOrder: "",
					commentCustomerSuccess: ""
				}
			},
			postStatus: false,
			isPosted: false,
			projectsArrayLength: null
		}
	},
	validations() {
		if(!this.isDirect)
		{
			return {
				salesContact: { required },
				datas: {
					client: {
						campaign: { required },
						commercial: { required },
						address: {
							street: { required },
							zipcode: { required },
							city: { required }
								// country: { required }
						}
					},
					agency: {
						object: { required },
						contact: { required },
						address: {
							street: { required },
							zipcode: { required },
							city: { required }
					  	//country: { required }
						}
					},
					billing: {
						object: { required },
						contact: { required },
						name: { required },
						TVA: { required, alphaNum },
						PO: { required, alphaNum },
						address: {
							street: { required },
							zipcode: { required },
							city: { required },
							country: { required }
						}
					}
				},
				validationBillingData: ['salesContact','datas.client.campaign', 'datas.client.commercial', 'datas.client.address', 'datas.agency.object', 'datas.agency.address', 'datas.billing.TVA']
  					//'datas.billing.contact',
			}
		}
		else
		{
			return {
				salesContact: { required },
				datas: {
					client: {
						campaign: { required },
						commercial: { required },
						address: {
							street: { required },
							zipcode: { required },
							city: { required }
  							// country: { required }
						}
					},
					agency: {
						object: { required },
						contact: { required },
						address: {
							street: { required },
							zipcode: { required },
							city: { required }
					  	//country: { required }
						}
					},
					billing: {
						object: { required },
						contact: { required },
						name: { required },
						TVA: { required, alphaNum },
						PO: { required, alphaNum },
						address: {
							street: { required },
							zipcode: { required },
							city: { required },
							country: { required }
						}
					}
				},
				validationBillingData: ['salesContact','datas.client.campaign', 'datas.client.commercial', 'datas.client.address', 'datas.billing.TVA']
			}
		}

	},
	components: {
		comboBoxApi,
		projectsManager : projectsManager,
		modalNewThirdPartyAddress,
		'app-switch': Switch
	},
	mounted() {

		EventBus.$on('assemble_json_projects', data => {
			this.jsonObject.projectsPart.push(data);

			if(this.jsonObject.projectsPart.length == this.projectsArrayLength)
			{
				this.postStatus = true;

				axios.post(this.parameters.apiURL + '' + "winterfell/billing/?authorId=" + this.parameters.authorId, this.jsonObject, this.parameters.config)
				.then(response => {
					if(response.data.error)
					{
						this.postStatus = false;
						this.$toasted.error("Something went wrong :/", this.toasterOptions);
						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.toasterOptions);
					}
					else
					{
						this.postStatus = false;
						this.isPosted = true;
						this.$toasted.show('<i class="fa fa-check greencheck" aria-hidden="true"></i> Order successfully saved.', this.toasterOptions);	
					}
				})
				.catch(e => {
					this.postStatus = false;
					this.$toasted.error('Something went wrong :/', this.toasterOptions);
					if(e.response)
					{
						console.log(e.response);
						this.$toasted.info('Please check the log for more details. e.response', this.toasterOptions);
					}
					else if(e.request)
					{
						console.log(e.request);
						this.$toasted.info('Please check the log for more details.', this.toasterOptions);
					}
					else
					{
						console.log("Error axios post : ", e.message);
						this.$toasted.info("Error axios post: " + e.message, this.toasterOptions)
					}

					console.log(e.config);
				})
			}
			else
			{
				this.$toasted.error("An error occured.", this.toasterOptions);
				console.log("projectParts.length = " + this.jsonObject.projectParts.length);
				console.log("projectsArrayLength = " + this.projectsArrayLength);
			}
		})

		EventBus.$on('message_amount_of_projects', data => {
			this.projectsArrayLength = data;
		})

		EventBus.$on('clear_all_projects', data => {
			this.projectsArrayLength = 0;
		})

		EventBus.$on('refreshBillingComboBox', data => {
			this.parameters.apiRouteBilling = this.parameters.apiRouteBilling_ + "/" + this.datas.client.id;
		})
	},
	methods: {
		pushJSON() {

			if(!this.$v.validationBillingData.$invalid){
				this.json_project = [];
				debugger;
				this.jsonObject.billingPart.commercialId = this.salesContact.id;
				if(this.datas.client.group)
					this.jsonObject.billingPart.client = {
						projectName: this.datas.client.campaign.name,
						isDirect: this.isDirect,
						groupId: this.datas.client.group.id,
						customerId: this.datas.client.id,
						crmId: this.datas.client.crmId,
						contactId: this.datas.client.commercial.id
					};
					else
						this.jsonObject.billingPart.client = {
							projectName: this.datas.client.campaign.name, 
							isDirect: this.isDirect,
							groupId: -1,
							customerId: this.datas.client.id,
							crmId: this.datas.client.crmId,
							contactId: this.datas.client.commercial.id
						};
						if(!this.isDirect)
							this.jsonObject.billingPart.agency = {
								agencyId: this.datas.agency.object.id,
								contactId: this.datas.agency.contact.id
							};
					// else
					// 	this.jsonObject.billingPart.agency = {
					// 		agencyId: this.datas.agency.object.id
					// 	}

				this.jsonObject.billingPart.billing = {
					billingContact: this.datas.billing.contact.id,
					whoToBill: this.datas.billing.whoToBill,
					VAT: this.datas.billing.TVA,
					PO: this.datas.billing.PO
				}

				this.jsonObject.projectsPart = [];
				EventBus.$emit('build_json_products', null);
			}
			else{
				this.$v.validationBillingData.$touch();
				this.$toasted.info("You are missing some values, please verify your form before posting.", this.toasterOptions);
				console.log(this.$v.validationBillingData);
			}

		},
		showAlertBilling() {
			if(this.isLockedBilling)
			{
				this.$toasted.info("Please select Client & Agency before filling Billing", {duration: 5000});
			}
		},
		updateValue(val) {
			EventBus.$emit('clear_all_projects', null);
			if(val)
			{
				this.$v.datas.client.campaign.$touch();
				var group_ = this.datas.client.group;
				this.$data.datas.client = initialStateClient();
				this.datas.client.group = group_;
				this.datas.client.campaign = val;
				this.datas.client.crmId = val.crmId;
				this.datas.client.id = val.id;
				this.datas.client.name = val.name;

				var address = null;
				axios.get(this.parameters.apiURL + '' + this.parameters.apiRouteClients_ + "/" + val.crmId + "/address", this.parameters.config)
				.then(response => {
					if(response.data.error) {
						this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
					}
					else{
						address = response.data.result[0];
						this.datas.client.address.street = address.address;
						this.datas.client.address.zipcode = address.zip;
						this.datas.client.address.city = address.city;
						this.$v.datas.client.address.$touch();
					}
				})
				.catch(e => {
					this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
					if (this.parameters.postStatus)
						this.parameters.postStatus = false;

					if(e.response)
					{
						console.log(e.response);
						this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
					}
					else if(e.request)
					{
						console.log(e.request);
						this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
					}
					else
					{
						console.log("Error axios post : ", e.message);
						this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
					}

					console.log(e.config);
				})

				this.parameters.apiRouteCommercials = this.parameters.apiRouteClients_ + "/" + this.datas.client.crmId + "/contacts";

				var temp = this.datas.billing.whoToBill;
				this.datas.billing = initialStateBilling();
				this.datas.billing.whoToBill = -1;

				if(this.datas.client.group)
				{
					EventBus.$emit('message_projects_group_ids', JSON.stringify(val.id));
				}
			}
			else
			{
				var group_ = this.datas.client.group;
				this.$data.datas.client = initialStateClient();
				this.datas.client.group = group_;
				if(this.datas.billing.whoToBill == 0)
				{
					this.datas.billing = initialStateBilling();
					this.datas.billing.whoToBill = 0;
				}
			}


			if((this.datas.client.campaign && this.datas.agency.object && !this.isDirect) || (this.datas.client.campaign && this.isDirect))
				this.isLockedBilling = false;
			else
				this.isLockedBilling = true;
		},
		updateValueGroup(val) {
      		//Modify the second DDList API URLs
      		EventBus.$emit('clear_all_projects', null);
      		if(val)
      		{
      			this.$data.datas = initalStateDatas();
      			this.datas.client.group = val;
      			this.parameters.apiRouteClients = "winterfell/billing/company/" + val.id + "/group";
      			EventBus.$emit('message_group_api_route', this.parameters.apiRouteClients);
      		}
      		else
      		{
      			this.parameters.apiRouteClients = this.parameters.apiRouteClients_;
      			this.$data.datas = initalStateDatas();
      		}

      		if(this.datas.client.campaign && this.datas.agency.object)
      			this.isLockedBilling = false;
      		else
      			this.isLockedBilling = true;

      	},
      	updateValueSalesContact(val) {
      		if(val)
      		{
      			this.salesContact = val;
      		}
      	},
      	updateValueCommercial(val) {
      		if(val)
      		{
      			this.$v.datas.client.commercial.$touch();
      			this.datas.client.commercial = val; 
      		}
      		else{
      			this.datas.client.commercial = null;
      		}
      	},
      	updateValueAgency(val) {
      		if(val)
      		{
      			this.datas.agency.contact = null;
      			this.$v.datas.agency.object.$touch();
      			this.datas.agency.object = val;

      			//call the Address of the Agency in the CRM (HubSpot)
      			if(val.crmId)
      			{
      				var address = null;
      				axios.get(this.parameters.apiURL + '' + this.parameters.apiRouteClients_ + '/' + val.crmId + '/address', this.parameters.config)
      				.then(response => {
      					if(response.data.error) {
      						this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
      						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
      					}
      					else{
	      					address = response.data.result[0];
	      					this.datas.agency.address.street = address.address;
	      					this.datas.agency.address.zipcode = address.zip;
	      					this.datas.agency.address.city = address.city;
	      					this.$v.datas.agency.address.$touch();
	      				}
      				})
      				.catch(e => {
						this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
						if (this.parameters.postStatus)
							this.parameters.postStatus = false;

						if(e.response)
						{
							console.log(e.response);
							this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
						}
						else if(e.request)
						{
							console.log(e.request);
							this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
						}
						else
						{
							console.log("Error axios post : ", e.message);
							this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
						}

						console.log(e.config);
					})
      			}
      			
      			//call the Agency Contacts
      			this.parameters.apiRouteAgencyContact = this.parameters.apiRouteAgency + "/" + val.id + "/contacts/";
      		}
      		else{
      			this.$data.datas.agency = initialStateAgency();
      			
      			if(this.datas.billing.whoToBill == 1)
      			{
      				this.datas.billing = initialStateBilling();
      				this.datas.billing.whoToBill = 1;
      			}
      		}

      		if(this.datas.client.campaign && this.datas.agency.object)
      			this.isLockedBilling = false;
      		else
      			this.isLockedBilling = true;
      	},
      	updateValueAgencyContact(val) {

      		if(val)
      		{
      			this.$v.datas.agency.contact.$touch();
      			this.datas.agency.contact = val;
      		}
      	},
      	updateValueBilling(val) {
      		debugger;
      		if(val){
      			this.datas.billing.contact = val;

      			if(this.datas.billing.whoToBill == 2)
      			{
		      		this.datas.billing.address.street = val.address;
		      		this.datas.billing.address.zipcode = val.postalCode;
		      		this.datas.billing.address.city = val.city;
		      		this.datas.billing.address.country = val.countryName;
      			}

	      		this.datas.billing.name = val.firstName + " " + val.lastName;
	      	}
      	},
      	updateValueBillingCountry(val) {
      		if(val) {
      			this.datas.billing.address.country = val;
      			console.log(val);
      		}
      	},
      	showModalNewThirdAddress() {
      		this.parameters.apiRouteBilling = null;
      		this.$root.$emit('show::modal', 'modalNewThirdPartyAddress');
      	}
	  },
	  watch: {
	  	isDirect(val) {
	  		this.isDirectLabel = val ? 'Direct' : 'Indirect';
	  		EventBus.$emit('isDirect', this.isDirect);
	  	},
	  	'datas.billing.whoToBill': function(val) {

	  		this.datas.billing.contact = null;
	  		if(val >= 0)
	  		{
	  			this.datas.billing.address = initialStateAddress();

	  			switch(val) {
	  				case 0:
		  				if(this.datas.client.campaign)
		  				{
		  					this.isThirdParty = false;
		  					this.datas.billing.address = this.datas.client.address;
		  					this.parameters.apiRouteBilling = this.parameters.apiRouteClients_ + "/" + this.datas.client.crmId + "/contacts";	
		  				}

		  				break;
	  				case 1:
		  				if(this.datas.agency.object)
		  				{
		  					this.isThirdParty = false;
		  					this.datas.billing.address = this.datas.agency.address;
		  					this.parameters.apiRouteBilling = this.parameters.apiRouteAgency + "/" + this.datas.agency.object.id + "/contacts/";
		  				}
		  				break;
	  				case 2:
	  					this.isThirdParty = true;
	  					this.parameters.apiRouteBilling = this.parameters.apiRouteBilling_ + "/" + this.datas.client.id;
	  					break;
	  			}        	
	  		}
	  	},
	  	isLockedBilling(val){
	  		if(!val)
	  		{
	  			if(this.isDirect)
	  			{
	  				this.radioBillingOptions[0].disabled = false;
	  				this.radioBillingOptions[2].disabled = false;
	  				this.datas.billing.whoToBill = 0;
	  			}
	  			else
	  			{
	  				this.radioBillingOptions[0].disabled = false;
	  				this.radioBillingOptions[1].disabled = false;
	  				this.radioBillingOptions[2].disabled = false;
	  			}
	  		}
	  		else
	  		{
	  			this.radioBillingOptions[0].disabled = true;
	  			this.radioBillingOptions[1].disabled = true;
	  			this.radioBillingOptions[2].disabled = true;
	  		}

	  	},
	  	'comment.textOrder': function(val) {
	  		this.jsonObject.commentsPart.commentOrder = val;
	  	},
	  	'comment.textCustomerSuccess': function(val) {
	  		this.jsonObject.commentsPart.commentCustomerSuccess = val;
	  	},
	  	'datas.billing.TVA': function(val) {
	  		this.datas.billing.TVA = this.datas.billing.TVA.toUpperCase();
	  	},
	  	'datas.billing.PO': function(val) {
	  		this.datas.billing.PO = this.datas.billing.PO.toUpperCase();
	  	}
	  },
	  computed: {
	  	remainingCharactersOrder: function() {
	  		return this.comment.sizeOrder - this.comment.textOrder.length;
	  	},
	  	remainingCharactersCustomerSuccess: function() {
	  		return this.comment.sizeCustomerSuccess - this.comment.textCustomerSuccess.length;
	  	}
	  }
	}
</script>

<style>
	.bg-white{
		background:#ffffff !important;
	}
	.fade-enter-active, .fade-leave-active {
		transition: opacity 0.5s
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
		opacity: 0
	}
	.boxSizingBorder {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.greencheck {
		color: #A8CA27;
	}
	.redcheck {
		color: #F74444;
	}

	.list-group-item{
		cursor: pointer;
	}
</style>