<template>
	<div id="projectmanager" class="">
		<selectproject class="mb-3"></selectproject>
		<draggable v-model="projects" :options="draggableOptions">
			<transition-group name="slide-fade" tag="div">
				<billingproject v-for="(project, key) in projects" :ingoing="project" :ref="key" :identifier="{id: project.selectedProject.id, key: key}" :key="project.selectedProject.id" :name="project.selectedProject.name" :id="project.selectedProject.name"></billingproject>
			</transition-group>
		</draggable>
		<div v-if="total > 0" class="row mx-3">
			<div class="col-9">
			</div>
			<div class="col-3 align-self-end">
				<div class="card">
					<div class="card-block text-right" style="padding-right: 20px">
						<h4>Total (w/o VAT)</h4>
						<p> {{ numeral(total).format('0,0[.]00') }} {{ parameters.currency.symbol }} </p>
						<h5>Total (incl. VAT)</h5>
						<p> {{ numeral(totalVAT).format('0,0[.]00') }} {{ parameters.currency.symbol }} </p>
					</div>
				</div>
			</div>
		</div>

		<modalViewLicenses :licenses="licensesList"></modalViewLicenses>
	</div>
</template>

<script>
	import modalViewLicenses from './modalViewLicenses'
	import selectproject from './billingProjectSelect'
	import billingproject from './billingProductsSelect'
	import draggable from 'vuedraggable'
	import axios from 'axios'
    import EventBus from '../global/eventBus.js'
	import * as configuration from '../config'

	var numeral = require('numeral');

	function newProject() {
		return {
			selectedProject: null,
			countryId: null,
			hasProduct: false,
			project: {
				name: null,
				normalizedName: null,
				id: null,
				apiKey: "RY-",
				businessTypeId: null,
				countryId: null,
				customerId: null,
				dataEnabled: false,
				dataCompute: false,
				enabled: true,
				features : {
					actionExportSpotEnabled: true,
					actionExportTimelineEnabled: true,
					enabledRAI: true,
					sectionDataEnabled: true,
					sectionProjectionsEnabled: true,
					sectionTvEnabled: true,
					widgetDistributionChannelsEnabled: true
				}
			},
			license: {
				isPaid: null,
				hasLicense: null,
				startDate: null,
				endDate: null,
				id: null,
				moduleId: null,
				orderProjectId: null,
				quantity: null,
				status: null
			}
		}
	}

	export default {
		data() {
			return {
				projects: [],
				parameters: {
					config: {
						headers: {
							[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
							'Content-Type': 'application/json; charset=utf-8'
						},
					},
					apiURL: configuration.get("apiUrl"),
					apiRouteAnnualLicense: 'winterfell/billing/annuallicense/',
					errors: [],
					VAT: 0.2,
					currency: {
						symbol: '€',
						name: 'EUR',
						region: 'fr-FR'
					},
					toasterOptions: {
						duration: 5000
					}
				},
				draggableOptions: {
					animation: 150,
					handle: ".drag-handle-project"
				},
				licensesList: [],
				tempProject: null,
				total: 0,
				json_project: []
			}
		},
		components: {
			modalViewLicenses,
			selectproject,
			billingproject,
			draggable
		},
		methods: {
			numeral: function(date) {
				return numeral(date)
			}
		},
		watch: {

		},
		computed: {
			totalVAT: function() {
				return this.total + (this.total * this.parameters.VAT);
			}
		},
		mounted() {
			EventBus.$on('license_choosen', data => {

				if(this.tempProject)
				{
					var project = {};
					project = newProject();
					project.selectedProject = this.tempProject.selectedProject;
					project.project = this.tempProject.project;
					project.countryId = this.tempProject.countryId;

					project.license.startDate = new Date(data.startDate);
					project.license.endDate = new Date(data.endDate);
					project.license.moduleId = data.moduleId;
					project.license.id = data.id;
					project.license.orderProjectId = data.orderProjectId;
					project.license.quantity = data.quantity;
					project.license.status = data.status;

					project.license.hasLicense = true;
					project.license.isPaid = true;

					this.projects.push(project);
					EventBus.$emit('message_amount_of_projects', this.projects.length);
				}
				else{
					this.$toasted.error("An error occured. Please try again", this.parameters.toasterOptions);
					console.log("tempProject is undefined/null");
				}

				this.tempProject = null;
			})

			EventBus.$on('incoming_project', data => {

				if(data.selectedProject)
				{
					this.tempProject = data;
					var project = {};
					project = newProject();
					project.selectedProject = data.selectedProject;
					project.project = data.project;
					project.countryId = data.countryId;
					debugger;
					axios.get(this.parameters.apiURL + '' + this.parameters.apiRouteAnnualLicense + '' + project.selectedProject.id, this.parameters.config).then(response => {

						response.data.result.length > 0 ? project.license.hasLicense = true : project.license.hasLicense = false;
						//debugger;
						if (project.license.hasLicense)
						{
							if(response.data.result.length > 1)
							{
								this.licensesList = response.data.result;
								this.$root.$emit('show::modal','modalViewLicenses');
								this.$toasted.info("WARNING: more than 1 license were found", this.parameters.toasterOptions);
							}
							else
							{
								project.license.startDate = new Date(response.data.result[0].startDate);
								project.license.endDate = new Date(response.data.result[0].endDate);
								project.license.moduleId = response.data.result[0].moduleId;
								project.license.id = response.data.result[0].id;
								project.license.orderProjectId = response.data.result[0].orderProjectId;
								project.license.quantity = response.data.result[0].quantity;
								project.license.status = response.data.result[0].status;
							}
						}

						this.projects.push(project);
						EventBus.$emit('message_amount_of_projects', this.projects.length);
					})
					.catch(e => {
						this.parameters.errors.push(e);
						console.log(this.parameters.errors);
					})
				}
				else
					this.$toasted.error("An error occured. 'incoming_project'", this.parameters.toasterOptions);
			}),

			EventBus.$on('message_projects_new_api_route', data => {
				this.projects = [];
			}),

			EventBus.$on('remove_element', data => {
				debugger;
				var index = data;
				this.projects.splice(index, 1);
				EventBus.$emit('message_amount_of_projects', this.projects.length);
			}),

			EventBus.$on('clear_all_projects', data => {
				this.projects = [];

			}),

			EventBus.$on('totalOrderValue', data => {
				this.total = data;
			})

  // EventBus.$on('add_total', data => {
  // 	this.total += data;
  // }),

  // EventBus.$on('subtract_total', data => {
  // 	this.total -= data;
  // })
}
}
</script>

<style>
	.drag-handle-project{
		cursor: -webkit-grab;
		cursor: grab;
	}

	.slide-fade-enter-active {
		transition: all 1s ease;
	}
	.slide-fade-leave-active {
		transition: all 1.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active for <2.1.8 */ {
		transform: translateX(10px);
		opacity: 0;
	}

/*.fade-enter-active, .fade-leave-active {
  transition: opacity .1s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}*/
</style>