<template>
	<div id="billingListing" v-cloak>
		<h2>Listing</h2>
		<transition-group tag="div" name="slide-fade">
			<div v-if="parameters.isDisplayed" key="divListing" id="listingContent" class="my-3">
				<div class="justify-content-center row">

					<b-form-fieldset horizontal label="Rows per page" class="col-6" :label-cols="6">
						<b-form-select :options="[{text:10,value:10},{text:50,value:50},{text:100,value:100}]" v-model="datas.perPage">
						</b-form-select>
					</b-form-fieldset>

					<b-form-fieldset horizontal label="Filter" class="col-6" :label-cols="2">
						<b-form-input v-model="datas.filter" placeholder="Type to Search"></b-form-input>
					</b-form-fieldset>
				</div>

				<!-- Main table element -->
				<b-table small striped hover id="tableListing" class="clickable" :items="datas.listing" :fields="datas.fields" :current-page="datas.currentPage" :per-page="datas.perPage" :filter="datas.filter" :show-empty="true" @row-clicked="toOrderDetails">
					<template slot="agencyName" scope="item" class="text-center">
						<template v-if="item.value!='UNKNOWN' && typeof(item.value) != 'undefined' ">
							{{ item.value }}
						</template>
						<template v-else>
							<i class="fa fa-question ml-5" aria-hidden="true"></i>
						</template>
					</template>
					<template slot="updated_at" scope="item">
						{{ moment(item.item.updated_at).format('MMM Do YYYY') }}
					</template>
					<template slot="date" scope="item">
						{{ moment(item.item.date).format('MMM Do YYYY')}}
					</template>
					<template slot="actions" scope="item">
						<i class="clickable fa fa-cogs fa-lg mx-1" aria-hidden="true" v-on:click.stop.prevent="openModalOptions(item)"></i>
						<i v-if="isDocumentsExist(item)" class="clickable fa fa-file-pdf-o fa-lg mx-1" aria-hidden="true" v-on:click.stop.prevent="getDocument(item, 'pdf', false)"></i>
						<i v-if="isDocumentSigned(item)" class="clickable fa fa-thumbs-o-up fa-lg mx-1" aria-hidden="true" v-on:click.stop.prevent="getDocument(item, 'pdf', true)"></i>
					</template>
				</b-table>

				<div class="justify-content-center row my-1">
					<b-pagination size="md" :total-rows="this.datas.listing.length" :per-page="datas.perPage" v-model="datas.currentPage" />
				</div>
			</div>
			<div v-if="parameters.isLoading" key="divSpinner" id="spinnerLoading" class="text-center spinnerDiv">
				<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
			</div>
		</transition-group>

		<!-- Modal Component -->
		<b-modal id="modalOptions" title="Options" @ok="submitModalOptions1" @shown="initModalOptions" ok-title="Update" no-auto-focus>
			<form @submit.stop.prevent="submit">
				<center>
					<br/>
					<div class="row">
						<div class="col-12">
							<comboBoxApi :value="datas.modalOptions.status" ref="comboBoxmodalOptions" @change="updatemodalOptionsCB" itemToTarget="statusName" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteStatus" :isSortable="false" placeholder="Please choose a Status" ></comboBoxApi>
							
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-6">
							<comboBoxApi :value="datas.modalOptions.culture" ref="comboBoxModalCulture" @change="updateModalCulture" itemToTarget="language" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteCulture" :isName="false" placeholder="Language"></comboBoxApi>
							<br v-if="parameters.isCustomerManagerReady"/>
							<transition name="slide-fade" mode="out-in">
								<comboBoxApi v-if="parameters.isCustomerManagerReady" :value="datas.modalOptions.customerManager" ref="comboBoxModalCM" @change="updateModalCM" itemToTarget="firstName" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteCM" :isName="true" placeholder="Assigned Customer Manager"></comboBoxApi>
							</transition>
						</div>
						<div class="col-6">
							<comboBoxApi :value="datas.modalOptions.paymentCondition" ref="comboBoxModalPaymentCondition" @change="updateModalPaymentCondition" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRoutePaymentConditions" :isName="false" placeholder="Payment Condition"></comboBoxApi>
							<br/>
							<comboBoxApi :value="datas.modalOptions.paymentMethod" ref="comboBoxModalPaymentMethod" @change="updateModalPaymentMethod" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRoutePaymentMethods"	:isName="false" placeholder="Payment Method"></comboBoxApi>
						</div>
					</div>
				</center>
				<hr/>
				<h5>Rules</h5>
				<div class="text-justify mx-2 fontsmall">
					<h6>Status</h6>
					<p>Updating the status of the order, the order files are automatically created when the status is set to 'New'. When the order has been validated, the option to assign a Customer Manager will appear.</p>
					<h6>Language, Payment Condition & Payment Method</h6>
					<p>Those are three options to set the language of the order file (as the currency) and payments options figuring at the end of the order</p>
				</div>
				<hr/>
				<br/>
				<h5>Generate Files</h5>
				<p>The following button allows you to force re-generate the order files (.pdf & .xlsx) to take into account modifications</p>
				<center>
					<b-btn @click="generateFiles()" variant="primary" style="width: 150px; margin-left: auto;" :disabled="parameters.isPosted">
						<i v-bind:class="[parameters.postStatus ? 'fa-spin' : '']" class="fa fa-cog fa-lg fa-fw"></i> Generate
					</b-btn>
				</center>
			</form>
		</b-modal>
		<modalOrderDetails :orderId="datas.modalOrderDetails.callerId"></modalOrderDetails>
		<modalUploadFile v-if="datas.modalOptions.status.statusId >= 6" :url="urlUploadSignedOrder"></modalUploadFile>
	</div>
</template>

<script>
	import axios from 'axios'
	import comboBoxApi from './comboBoxApi'
	import multiselect from 'vue-multiselect'
	import modalOrderDetails from './modalViewSingleOrder'
	import modalUploadFile from '../global/utils/modalUploadFile'
	import uploadFile from '../global/utils/uploadFile'
    import EventBus from '../global/eventBus.js'
	import * as configuration from '../config'

	var moment = require('moment');

	export default{
		data() {
			return {
				parameters: {
					config: {
						headers: {
							[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
							'Content-Type': 'application/json; charset=utf-8'
						},
					},
					apiURL: configuration.get("apiUrl"),
					apiRouteBillingListing: 'winterfell/billing/orders/',
					apiRouteStatus: 'winterfell/billing/orderstatus',
					apiRouteCM: 'winterfell/billing/customermanagers',
					apiRouteUpdateStatus: 'winterfell/billing/status',
					apiRoutePaymentConditions: 'winterfell/billing/paymentconditions',
					apiRoutePaymentMethods: 'winterfell/billing/paymentmethods',
					apiRouteForceGenerateFiles: 'winterfell/billing/generateorderfiles',
					apiRouteGetDocument: 'winterfell/billing/download/',
					apiRouteCulture: 'winterfell/billing/culture/',
					apiRouteUploadSignedOrder: 'winterfell/billing/upload/',
					isLoading: true,
					isDisplayed: false,
					errors: [],
					VAT: 0.2,
					currency: {
						symbol: '€',
						name: 'EUR',
						region: 'fr-FR'
					},
					toasterOptions: {
						duration: 5000
					},
					isCustomerManagerReady: false,
					postStatus: false,
					isPosted: false
				},
				datas: {
					listing: null,
					fields: {
						id: {
							label: "id",
							sortable: true
						},
						companyName: {
							label: "Company Name",
							sortable: true
						},
						agencyName: {
							label: "Agency Name",
							sortable: true
						},
						externalReference: {
							label: "Reference",
							sortable: true
						},
						salepersonFullName: {
							label: "Sale Person Name",
							sortable: true
						},
						updated_at: {
							label: "Last Update",
							sortable: true
						},
						status: {
							label: "Status",
							sortable: true
						},
						date: {
							label: "Status Update",
							sortable: true
						},
						actions: {
							label: "Actions"
						}
					},
					modalOptions: {
						callerId: null,
						index: null,
						status: null,
						culture: null,
						customerManager: null,
						paymentCondition: null,
						paymentMethod: null
					},
					modalOrderDetails: {
						callerId: null
					},
					currentPage: 1,
					perPage: 10,
					filter: null
				}
			}
		},
		components: {
			comboBoxApi,
			multiselect,
			uploadFile,
			modalUploadFile,
			modalOrderDetails
		},
		props: {

		},
		mounted() {

			axios.get(this.parameters.apiURL + '' + this.parameters.apiRouteBillingListing, this.parameters.config)
			.then(response => {
				this.parameters.isLoading = false;
				this.datas.listing = response.data.result;
				console.log(this.datas.listing);
			})
			.catch(e => {
				this.parameters.errors.push(e);
				console.log(this.parameters.errors);
			})

			this.datas.modalOptions.callerId = null;
			this.datas.modalOptions.status = { statusId: null };
			this.datas.modalOptions.customerManager = { id: null };
			this.datas.modalOptions.culture = { id: null};
			this.datas.modalOptions.paymentCondition = { id: null };
			this.datas.modalOptions.paymentMethod = { id: null };

			EventBus.$on('signedOrderUploaded', data => {
				this.submitModalOptions2(null);
			})
		},
		methods: {
			toOrderDetails: function(val) {
				EventBus.$emit('modalOrderDetailsOrderId', val.id);
			  	// this.datas.modalOrderDetails.callerId = val.id;
				this.$root.$emit('show::modal','modalViewSingleOrder');
			},
			moment: function(date) {
				return moment(date)
			},
			axiosPost(apiRoute, dataSet, actionName) {

				axios.post(this.parameters.apiURL + '' + apiRoute, dataSet, this.parameters.config)
				.then(response => {
					if(response.data.error) {
						this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
						if (this.parameters.postStatus)
							this.parameters.postStatus = false;
					}
					else{
						this.datas.listing[this.datas.modalOptions.index].status = this.datas.modalOptions.status.statusName;
						this.$toasted.show('<i class="fa fa-check greencheck" aria-hidden="true"></i>' + actionName + ' successfully saved.', this.parameters.toasterOptions);
						if (this.parameters.postStatus)
							this.parameters.postStatus = false;
						this.$root.$emit('hide::modal', 'modalUploadFile');
					}
				})
				.catch(e => {
					this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
					if (this.parameters.postStatus)
						this.parameters.postStatus = false;

					if(e.response)
					{
						console.log(e.response);
						this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
					}
					else if(e.request)
					{
						console.log(e.request);
						this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
					}
					else
					{
						console.log("Error axios post : ", e.message);
						this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
					}

					console.log(e.config);
				})
			},
			submitModalOptions1(e) {
				this.$root.$emit('show::modal', 'modalUploadFile');
			},
			submitModalOptions2() {
			  var dataSet = {
			  	orderId: this.datas.modalOptions.callerId,
			  	orderStatusId: this.datas.modalOptions.status.statusId,
			  	orderCustomerManagerId: this.datas.modalOptions.id || -1,
			  	orderCultureId: this.datas.modalOptions.culture.id,
			  	orderPaymentConditionId: this.datas.modalOptions.paymentCondition.id || -1,
			  	orderPaymentMethodId: this.datas.modalOptions.paymentMethod.id || -1
			  };

			  var apiRoute_ = this.parameters.apiRouteUpdateStatus;

			  this.axiosPost(apiRoute_, dataSet, "Status");

			},
			openModalOptions(val) {
				this.$root.$emit('show::modal','modalOptions');
				this.parameters.isPosted = false;

				this.datas.modalOptions.callerId = val.item.id;
				this.datas.modalOptions.index = val.index;
			},
			initModalOptions(val) {

			},
			updatemodalOptionsCB(val) {
				debugger;

				this.datas.modalOptions.status = val;
				val.statusId >=6 ? this.parameters.isCustomerManagerReady = true : this.parameters.isCustomerManagerReady = false;
				val.statusId >=6 ? this.$toasted.info('Please have your signed order prepared (.pdf) as it will be asked for after validation.', this.parameters.toasterOptions) : null;
			},
			updateModalCM(val) {
				this.datas.modalOptions.customerManager = val;
			},
			updateModalCulture(val) {
				this.datas.modalOptions.culture = val;
			},
			updateModalPaymentCondition(val) {
				this.datas.modalOptions.paymentCondition= val;
			},
			updateModalPaymentMethod(val) {
				this.datas.modalOptions.paymentMethod = val;
			},
			generateFiles(val) {

				var dataSet = {
					orderId: this.datas.modalOptions.callerId,
					orderStatusId: this.datas.modalOptions.status.statusId,
					orderCustomerManagerId: this.datas.modalOptions.id || -1,
					orderCultureId: this.datas.modalOptions.culture.id,
					orderPaymentConditionId: this.datas.modalOptions.paymentCondition.id || -1,
					orderPaymentMethodId: this.datas.modalOptions.paymentMethod.id || -1
				};

				var apiRoute_ = this.parameters.apiRouteForceGenerateFiles;

				this.parameters.postStatus = true;

				this.axiosPost(apiRoute_, dataSet, "Order files");
			},
			getDocument(val, fileType, isSigned) {
				var url = this.parameters.apiURL + '' + this.parameters.apiRouteGetDocument + '' + val.item.id + '/' + fileType + '/' + isSigned;

				var config = {
						headers: {
							[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
							'Content-Type': 'application/json; charset=utf-8'
						},
						responseType: "blob"
					};

				axios.get(url, config)
				.then(response => {
					if(response.data.error) {
						this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
						if (this.parameters.postStatus)
							this.parameters.postStatus = false;
					}
					else{
						let blob = new Blob([response.data], { type:   'application/pdf' } );
					    let link = document.createElement('a');
					    link.href = window.URL.createObjectURL(blob);
					    isSigned ? 
					    	link.download = val.item.externalReference + '_signed.pdf'
					    	:
					    	link.download = val.item.externalReference + '.pdf';
					    link.click();
					}
				})
				.catch(e => {
					this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
					if (this.parameters.postStatus)
						this.parameters.postStatus = false;

					if(e.response)
					{
						console.log(e.response);
						this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
					}
					else if(e.request)
					{
						console.log(e.request);
						this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
					}
					else
					{
						console.log("Error axios post : ", e.message);
						this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
					}

					console.log(e.config);
				})

			},
			isDocumentsExist: function(val) {
				return (val.item.statusId >= 3) ? true : false;
			},
			isDocumentSigned: function(val) {
				return (val.item.statusId >= 6) ? true : false;
			}
	},
	watch: {
		//fix to avoid a bump when the loading spinner exits and the listing appears
		'parameters.isLoading': function(val) {
			if(!val)
				setTimeout(x => this.parameters.isDisplayed = true , 500);
		},
		'datas.filter': function(val) {
			if(val.length > 0)
				this.datas.currentPage = 1;
		}
	},
	computed: {
		urlUploadSignedOrder: function() {
			var order = this.datas.listing[this.datas.modalOptions.index];
			var url = configuration.get("apiUrl").concat(this.parameters.apiRouteUploadSignedOrder, order.companyId, '/', order.externalReference);
				
			return url;
		}
	},
	beforeDestroy() {

	}
}
</script>

<style>
	.clickable {
		cursor: pointer;
	}
	.spinnerDiv {
		height: 100%;
		display: flex;
		justify-content: center;
		margin-top: 20%;
	}

	/* Enter and leave animations can use different */
	/* durations and timing functions.              */
	.slide-fade-enter-active {
		transition: all 0.5s ease;
	}
	.slide-fade-leave-active {
		transition: all 0.5s cubic-bezier(0, 0, 1, 1);
	}
	.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active for <2.1.8 */ {
		opacity: 0;
	}

	.fontsmall p {
		font-size: 0.8em;
	}
</style>