<template>
	<div :id="divProjectId">
		<div class="row">
			<div class="col-11 text-center drag-handle-project">
				<div class="row ml-7-custom">
					<div class="col-lg-4 col-md-4 col-sm-4 big-div">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 big-div frontlicense">
						<div class="short-div mt-4">
							<transition name="slide-fade" mode="out-in">
								<center>
									<h3 >{{ name }}</h3>
									<div v-if="datas.mediaBudget > 0" id="divRawBudgetDisplay">
										{{ numeral(datas.mediaBudget).format('0,0[.]00') }} {{ parameters.currency.symbol }}
									</div>
								</center>
							</transition>
						</div>
					</div>
					<div class="coveruplicenseicon"></div>
					<div class="col-lg-3 col-md-3 col-sm-3 behindlicense">
						<b-tooltip :content="tooltipContent(ingoing.license.endDate)" placement="right">
							<i id="statusLicense" @click="displayLicenseModal()" v-bind:class="hasLicenseStyle" :key="name" class="fa fa-ticket fa-3x" aria-hidden="true"></i>
						</b-tooltip>
					</div>

				</div>
				<div class="row d-flex justify-content-center ml-7-custom">
					<transition name="slide-fade" mode="out-in">
						<div class="col-3" v-if="parameters.isDirect">
							<div class="text-right pull-right float-right" v-if="parameters.isDirect">
								<comboBoxApi v-if="parameters.isDirect" :value="datas.agency" v-bind:class="{ 'has-danger' : $v.datas.agency.$error }" ref="comboBoxAgency" @change="updateProjectAgency" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteAgency" :isName="false" placeholder="Please choose an Agency" style="width: 250px"></comboBoxApi>

							</div>
						</div>
					</transition>
					<div class="col-3">
						<div class="">
							<center>
								<div v-bind:class="{ 'has-danger' : $v.datas.mediaBudget.$error }" class="input-group" style="z-index:0; width:250px; ">
									<input type="number" v-model="datas.mediaBudget" class="form-control" style="text-align: center" id="inputMediaBudget" @input="" placeholder="Media Budget"></input>
									<span class="input-group-addon">{{ parameters.currency.symbol }}</span>
								</div>
							</center>
						</div>
					</div>
					<div class="col-3">
						<multiselect v-model="datas.dealType" :options="parameters.dealTypes" style="width: 250px;" placeholder="Deal Type"></multiselect>
						<!-- <comboBoxApi :value="datas.agency" ref="comboBoxAgency" @change="updateProjectAgency" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteAgency" :isName="false" placeholder="Please choose an Agency" style="width: 250px"></comboBoxApi> -->
					</div>
				</div>
			</div>
			<div class="col-1">
				<i title="Drag & Drop" class="fa fa-arrows-v drag-handle-project" aria-hidden="true"></i>
				<i title="Remove" class="fa fa-trash" aria-hidden="true" @click="deleteProject"></i>
			</div>
		</div>
		<hr class="mt-2 mb-3" width="60%">
		<div class="my-4 row justify-content-center form-group">
			<div class="col-2">
				<comboBoxApi v-bind:class="{ 'has-danger' : $v.datas.product.$error }" :value="datas.product" @change="updateProductModel" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRoute" :isName="false" placeholder="Select a Product" id="selectProductModel"></comboBoxApi>
			</div>
			<!-- <div class="col-2">
				<DatePicker id="datepickerDateRange" v-bind:class="{ 'has-danger' : $v.datas.dateRange.$error }" v-model="datas.dateRange" type="daterange" :picker-options="parameters.datePicker" placeholder="Start Date"></DatePicker>
				{{ datas.startDate }}
			</div> -->
			<div class="col-2">
				<multiselect v-model="datas.sellType" :options="parameters.sellTypes" placeholder="Sell Type"></multiselect>
			</div>
			<div class="col-2">
				<DatePicker id="datepickerStartDate" v-bind:class="{ 'has-danger' : $v.datas.startDate.$error }" v-model="datas.startDate" @change="forceUpdateDP1" type="date" :picker-options="parameters.datePicker" placeholder="Start Date"></DatePicker>
			</div>
			<div class="col-2">
				<DatePicker id="datepickerEndDate" v-bind:class="{ 'has-danger' : $v.datas.endDate.$error }" v-model="datas.endDate" @change="forceUpdateDP2" type="date" :picker-options="parameters.datePicker" placeholder="End Date" :disabled="parameters.datepickerEndDate.disabled"></DatePicker>
			</div>
			<div class="col-2">
				<div v-bind:class="{ 'has-danger' : $v.datas.quantity.$error }" class="input-group" style="z-index:0">
					<input type="number" v-model="datas.unitPrice" class="form-control" style="text-align: right" id="inputUnitPrice" @input="" placeholder="Unit Price" :disabled="!parameters.isUnitPrice"></input>
					<span class="input-group-addon">{{ parameters.currency.symbol }}</span>
				</div>
			</div>
			<div class="col-1">
				<div v-bind:class="{ 'has-danger' : $v.datas.quantity.$error }" class="input-group" style="z-index:0">
					<input type="number" v-model="datas.quantity" class="form-control form-control-xs" style="text-align: right" id="inputQuantity" @input=""></input>
					<!-- <span class="input-group-addon">Qty</span> -->
				</div>
			</div>
			<div class="col-1">
				<b-button variant="primary" @click="emitDatas">+</b-button>
			</div>
		</div>


		<b-modal :id="modalNewLicense" title="Add new License" @ok="submitModal" @shown="clearModal" size="lg">
			<form @submit.stop.prevent="submit">
				<div id="modalContent" class="m-4">
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<i class="fa fa-exclamation fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
								<p>This project doesn't seem to have an Annual License (mandatory)</p>
								<p>Please validate the default Start Date of the new Annual License
									or choose another date in compliance with the dates of validity of the products.</p>
								</div>
							</div>
							<div class="col-6">
								<div class="card"><div class="card-block">
									<h6 class="card-title">Annual License (1 year)</h6>
									<div class="form-group">
										<label class="col-form-label col-form-label-sm">Start Date</label>
										<br/>
										<DatePicker v-model="modalLicense.startDate" type="date" :picker-options="parameters.datePicker" placeholder="Start Date (for 1 year)"></DatePicker>
									</div>
									<div class="form-group">
										<label class="col-form-label col-form-label-sm">End Date</label>
										<br/>
										<DatePicker v-model="modalLicense.endDate" type="date" :disabled="true" :picker-options="parameters.datePicker" placeholder="Start Date (for 1 year)"></DatePicker>
									</div>
								</div></div>
							</div>
						</div>
					</div>

				</form>
			</b-modal>

			<div class="row">
				<products :identifier="identifier" :project="ingoing" :name="name" :agency="datas.agency" :dealType="datas.dealType"></products>
			</div>


		</div>
	</template>

<script>
import comboBoxApi from './comboBoxApi'
import multiselect from 'vue-multiselect'
import billingProducts from './billingProductsTable'
import EventBus from '../global/eventBus.js'
import { DatePicker } from 'element-ui'
import lang from 'element-ui/lib/locale/lang/en'
import locale from 'element-ui/lib/locale'
import { required } from 'vuelidate/lib/validators'
import * as configuration from '../config'

	var moment = require('moment')
	var numeral = require('numeral');
  //ElementUI culture configuration
  locale.use(lang)

  function initialStateDatas(){
  	return {
  		product: null,
  		startDate: null,
  		endDate: null,
  		mediaBudget: null,
  		quantity: 1,
  		unitPrice: null,
  		chkbxUnitPrice: false,
  		defaultPriceRule: null,
  		dealType: null,
  		sellType: null
  	}
  }

  function initialStateModalData(){
  	return {
  		startDate: new Date(),
  		endDate: new Date()
  	}
  }

  function PreFilledLicenseObject(startDate_, endDate_){
  	return{
  		actions: false,
  		startDate: startDate_,
  		endDate: endDate_,
  		quantity: 1,
  		mediaBudget: null,
  		unitPrice: 1500,
  		chkbxUnitPrice: false,
  		defaultPriceRule: null,
  		product: {
  			defaultPrice: 1500,
  			id: 6,
  			minPrice: 0,
  			name: "Annual License",
  			shortCode: "ANL"
  		}
  	}
  }

  export default{
  	data() {
  		return {
  			parameters: {
  				apiURL: configuration.get("apiUrl"),
  				apiRoute: "winterfell/billing/productmodels",
  				apiRouteAgency: "winterfell/billing/agency",
  				datePicker: {firstDayOfWeek: 1},
  				currency: {
  					symbol: '€',
  					name: 'EUR',
  					region: 'fr-FR'
  				},
  				datepickerEndDate: {
  					disabled: false
  				},
  				isDirect: true,
  				isUnitPrice: false,
  				dealTypes: ['Single deal', 'Annual deal'],
  				sellTypes: ['New', 'Renew', 'Upsell'],
  				noPriceDefaultFactor: 0.01,
  				toasterOptions: {
  					duration: 5000
  				}
  			},
  			datas: {
  				agency: null,
  				product: null,
  				startDate: '',
  				endDate: null,
  				mediaBudget: null,
  				quantity: 1,
  				unitPrice: null,
  				chkbxUnitPrice: false,
  				defaultPriceRule: null,
  				dealType: null,
  				sellType: null
  			},
  			modalLicense: {
  				startDate: new Date(),
  				endDate: new Date()
  			},
  			maxDate: new Date(),
  			licenses_maxDate: new Date()
  		}
  	},
  	validations() {
  		if(this.parameters.isDirect)
  		{
  			return {
  				datas: {
  					agency: { required },
  					product: { required },
  					startDate : { required },
  					endDate: { required },
  					mediaBudget: { required },
  					quantity: { required }
  				},
  				validationProduct: ['datas.agency', 'datas.product', 'datas.startDate', 'datas.endDate', 'datas.mediaBudget', 'datas.quantity']
  			}
  		}
  		else
  		{
  			return {
  				datas: {
  					product: { required },
  					startDate : { required },
  					endDate: { required },
  					mediaBudget: { required },
  					quantity: { required }
  				},
  				validationProduct: ['datas.product', 'datas.startDate', 'datas.endDate', 'datas.mediaBudget', 'datas.quantity']
  			}
  		}
  	},
  	props: {
  		ingoing: null,
  		name: null,
  		identifier: null
  	},
  	components: {
  		comboBoxApi,
  		'products': billingProducts,
  		multiselect,
  		DatePicker
  	},
  	methods: {
  		numeral: function(date) {
  			return numeral(date)
  		},
  		tooltipContent: function(date) {
  			if(date === null || date === 'undefined')
  				return "No Annual License (yet)"
  			else
  				return ("Annual License expiration : " + moment(date).format('MMM Do YYYY'));
  		},
  		submitModal() {
  			var license = PreFilledLicenseObject(this.modalLicense.startDate, this.modalLicense.endDate);
  			this.ingoing.license.hasLicense = true;
		  // license.hasLicense = true;
		  EventBus.$emit('message_license_' + this.name, license);
		},
		clearModal() {
			initialStateModalData();
		},
		updateProjectAgency(val) {
			this.datas.agency = val;
		},
		updateProductModel(val) {
			this.datas.unitPrice = null;
			this.datas.product = val;
			if(val.defaultPrice)
			{
				this.datas.unitPrice = val.defaultPrice;
				this.parameters.isUnitPrice = true;
			}
			if(val.defaultPriceRule)
			{
				this.parameters.isUnitPrice = false;
				this.datas.unitPrice = this.datas.mediaBudget * (val.defaultPriceRule.substring(0, val.defaultPriceRule.length - 1) / 100);
				if(this.datas.unitPrice < val.minPrice)
				{
					this.datas.unitPrice = val.minPrice;
					this.$toasted.info("The price of " + val.name + " can't be below " + val.minPrice + "" + this.parameters.currency.symbol + ".", this.parameters.toasterOptions);
				}
			}
			else if(!val.defaultPrice)
				this.datas.unitPrice = this.datas.mediaBudget * this.parameters.noPriceDefaultFactor;
		},
		forceUpdateDP1(val) {
			this.datas.startDate = val;
		},
		forceUpdateDP2(val) {
			this.datas.endDate = val;
		},
		emitDatas(val) {
			debugger;
			if(!this.$v.validationProduct.$invalid){
				var product = {};
				product.product = this.datas.product;
				product.startDate = this.datas.startDate;
				product.endDate = this.datas.endDate;
				product.quantity = this.datas.quantity;
				product.mediaBudget = this.datas.mediaBudget;
				product.chkbxUnitPrice = false;
				product.unitPrice = this.datas.unitPrice;
				product.sellType = this.datas.sellType;

				if(product.defaultPriceRule)
					product.unitPrice = product.mediaBudget * (product.defaultPriceRule.substring(0, product.defaultPriceRule.length - 1) / 100);


				if(product.product.id == 6)
					product.mediaBudget = 0;
				else
					product.mediaBudget = this.datas.mediaBudget;

				if(this.ingoing.license.hasLicense)
				{
					var license = this.ingoing.license;
					license.hasLicense = true;	
					//discarded after a first run in billingProduct (object 'firstEvent')
					EventBus.$emit('message_license_' + this.name, license)
				}
				else
				{
					this.modalLicense.startDate = this.datas.startDate;
					console.log(this);
					this.$root.$emit('show::modal', this.modalNewLicense)
				}

				this.datas.quantity = 1;
				//this.datas.mediaBudget = null;
				//this.datas.sellType = null;
				//this.datas.unitPrice = null;

				EventBus.$emit('message_product_' + this.name, product);
			}
			else{
				this.$v.validationProduct.$touch();
				this.$toasted.info("You are missing some fields, please check again.", this.parameters.toasterOptions);
			}

		},
		deleteProject(val) {
			EventBus.$emit('remove_element', this.identifier.key);
		}
	},
	mounted() {
		EventBus.$on('isDirect', data => {
			this.parameters.isDirect = data;
		})

		EventBus.$on('maxDate' + this.name, data => {
			debugger;
			this.maxDate = data.date;
			this.licenses_maxDate = data.endLicense;

			if(moment(this.maxDate).valueOf() > moment(this.licenses_maxDate).valueOf() && this.ingoing.license.hasLicense) {
				var product = {};
				product.product = {id: 6, name: 'Annual License', shortCode: 'ANL', defaultPrice: 1500, unitPrice: 1500, minPrice: 0};
				product.startDate = moment(this.licenses_maxDate).add(1, 'days');
				product.endDate = moment(product.startDate).add(1, 'years').subtract(1, 'days');
				product.quantity = 1;
				product.mediaBudget = 0;
				product.chkbxUnitPrice = false;
				product.unitPrice = product.product.unitPrice;

				EventBus.$emit('message_product_' + this.name, product);
			}
		})

		EventBus.$on('noMoreLicenses', data => {
			this.ingoing.license.hasLicense = false;
		})
	},
	watch: {
		ingoing: function(val) {
			this.datas.project = val;
			console.log("ingoing :")
			console.log(val)
		},
		'modalLicense.startDate': function() {
			console.log('watched');
			this.modalLicense.endDate = moment(this.modalLicense.startDate).add(1, 'years').subtract(1, 'days');
		},
		'datas.product': function() {
			if(this.datas.product.id == 6)
				this.parameters.datepickerEndDate.disabled = true;
			else
				this.parameters.datepickerEndDate.disabled = false;
		},
		'datas.startDate': function() {
			if(this.parameters.datepickerEndDate.disabled)
				this.datas.endDate = moment(this.datas.startDate).add(1, 'years').subtract(1, 'days');
		}
	},
	computed: {
		divProjectId: function() {
			return "project" + this.name;
		},
		modalNewLicense: function() {
			return "modalNewLicense" + this.name;
		},
		hasLicenseStyle: function() {
			return {
				hasLicenseActive : this.ingoing.license.hasLicense && this.LicenseDatesOK,
				hasLicensePartially : this.ingoing.license.hasLicense && !this.LicenseDatesOK,
				animationglow: this.ingoing.license.hasLicense && !this.LicenseDatesOK,
				hasLicenseNone : !this.ingoing.license.hasLicense
			}
		},
		LicenseDatesOK: function() {
			var result = null;

			(moment(this.licenses_maxDate).valueOf() > moment(this.ingoing.license.endDate).valueOf()) ? (
				(moment(this.maxDate).valueOf() > moment(this.licenses_maxDate).valueOf()) ? result = false : result = true
				) : (
				(moment(this.maxDate).valueOf() > moment(this.ingoing.license.endDate).valueOf()) ? result = false : result = true
				)

				return result;
			}
		},
		beforeDestroy() {
			this.ingoing.license.hasLicense = false;
		}
	}

</script>

<style>
.coveruplicenseicon {
	position: relative;
	float: right;
	background-color: white;
	z-index: 1;
	width: 20px;
	height: 100px;
	-webkit-box-shadow: 10px 0px 5px -7px rgba(9, 12, 53, 0.32);
}
.verticaltext {
	line-height: 90px;
}
.ml-7-custom {
	margin-left: 6rem !important;
}
.frontlicense {
/*position: relative;
background-color:white;
-webkit-box-shadow: 10px 0px 5px -7px rgba(9, 12, 53, 0.32);*/
/*z-index: 1;*/
}
.behindlicense {
	position: relative;
	left: -150px;
	top: 20px;
	z-index: 0;
}
.short-div {
	height: 100%;
}	
.big-div {
	height: 100px;
	margin-left: 1vh;
}
.drag-handle-product{
	cursor: -webkit-grab;
	cursor: grab;
}
.hasLicenseActive {
	color: #A8CA27;
}
.hasLicensePartially {
	color: #FDAD00;
}
.hasLicenseNone {
	color: #F74444;
}


.has-danger .multiselect__tags, .has-danger .el-input__inner, .has-danger .input-group {
	border-color: #d9534f !important;
}

.animationglow {
	-webkit-animation: flash 2s ease infinite;
	animation: flash 2s ease infinite;
}

.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
	transform: translateY(10px);
	opacity: 0;
}

@-webkit-keyframes flash {
	0%,100%,50% {
		opacity:1
	}
	25%,75% {
		opacity:0
	}
}
@keyframes flash {
	0%,100%,50% {
		opacity:1
	}
	25%,75% {
		opacity:0
	}
}
</style>