<template>
	<div id="divBillingProduct" class="row justify-content-center">
		<div class="col-4">
			<comboBoxApi :value="datas.selectedProject" @change="updateSelectedProject" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRoute" :isName="false" placeholder="Select an Existing Project" id="selectProjectComboBox"></comboBoxApi>
		</div>
		<div class="col-1 justify-content-center" style="text-align: center">
			<h2>OR</h2>
		</div>
		<div class="col-1 justify-content-right">
			<b-button @click="$root.$emit('show::modal', 'modalNewProject')" variant="primary">+</b-button>
		</div>



	 	<b-modal id="modalNewProject" title="Add new project" @ok="submit" @shown="clearModal" size="lg">
	    	<form @submit.stop.prevent="submit">
		    	<div id="modalContent" class="m-4">
	    			<div class="row">
	    				<div class="col-6">
	    					<div class="form-group">
	    						<label class="col-form-label col-form-label-sm">Name</label>
	    						<b-form-input type="text" placeholder="Name" v-model="modal_data.name"></b-form-input>
	    					</div>
	    				</div>
	    				<div class="col-6">
	    					<div class="form-group">
	    						<label class="col-form-label col-form-label-sm">Country</label>
	    						<comboBoxApi :value="modal_data.country" @change="updateCountry" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteCountries" :isName="false" placeholder="Select a Country"></comboBoxApi>
	    					</div>
	    					<div class="form-group">
	    						<label class="col-form-label col-form-label-sm">Business Type</label>
	    						<comboBoxApi :value="modal_data.businessType" @change="updateBusinessType" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteBusinessType" :isName="false" placeholder="Select a Business Type"></comboBoxApi> 
	    					</div>
	    					<div class="form-group">
	    						<label class="col-form-label col-form-label-sm">Business Sector</label>
	    						<comboBoxApi :value="modal_data.businessSector" @change="updateBusinessSector" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteBusinessSector" :isName="false" placeholder="Select a Business Type"></comboBoxApi>
	    					</div>
	    				</div>
	    			</div>
	    			<!-- <div class="row">
	    				<div class="col-4">
	    					<b-form-checkbox v-model="modal_data.enabled">Enabled</b-form-checkbox>
	    				</div>
	    				<div class="col-4">
	    					<b-form-checkbox v-model="modal_data.dataEnabled">Data Enabled</b-form-checkbox>
	    				</div>
	    				<div class="col-4">
	    					<b-form-checkbox v-model="modal_data.dataCompute">Data Compute</b-form-checkbox>
	    				</div>
	    			</div> -->
	    			<!-- <div class="row">
	    			<div class="col-12 my-2">
		    			<b-list-group>
		    			    <b-list-group-item v-b-toggle.collapseFeatures >Features</b-list-group-item>
				    			<b-collapse id="collapseFeatures">
				    				<b-card>
				    					<div class="form-group row">
				    						<div class="col-6">
					    						<b-form-checkbox v-model="modal_data.features.actionExportSpotEnabled">actionExportSpotEnabled</b-form-checkbox>
					    						<b-form-checkbox v-model="modal_data.features.actionExportTimelineEnabled">actionExportTimelineEnabled</b-form-checkbox>
					    						<b-form-checkbox v-model="modal_data.features.widgetDistributionChannelsEnabled">widgetDistributionChannelsEnabled</b-form-checkbox>
					    						<b-form-checkbox v-model="modal_data.features.enabledRAI">enabledRAI</b-form-checkbox>
				    						</div>
				    						<div class="col-6">
					    						<b-form-checkbox v-model="modal_data.features.sectionDataEnabled">sectionDataEnabled</b-form-checkbox>
					    						<b-form-checkbox v-model="modal_data.features.sectionProjectionsEnabled">sectionProjectionsEnabled</b-form-checkbox>
					    						<b-form-checkbox v-model="modal_data.features.sectionTvEnabled">sectionTvEnabled</b-form-checkbox>
				    						</div>
				    					</div>
				    				</b-card>
			    				</b-collapse>
						</b-list-group>
					</div>
	    			</div> -->
	      		</div>

	    	</form>
	  	</b-modal>	
	</div>
</template>

<script>
import comboBoxApi from './comboBoxApi'
import EventBus from '../global/eventBus.js'
import axios from 'axios'
import * as configuration from '../config'

function initialStateModalData() {
	return {
		name: null,
		businessTypeId: null,
		businesSectorId: null,
		countryId: null
	}
}

export default{
	data() {
		return {
			parameters: {
				config: {
					headers: {
						[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
						'Content-Type': 'application/json; charset=utf-8'
					},
				},
				apiURL: configuration.get("apiUrl"),
				apiRoute: 'projects',
				apiRouteCountries: 'public/countries',
				apiRouteBusinessType: 'winterfell/billing/businesstypes',
				apiRouteBusinessSector: 'sectors',
				apiRouteCustomer: 'auth/customers',
				apiRouteAnnualLicense: 'winterfell/billing/annuallicense/',
				errors: [],
				toasterOptions: {
					duration: 5000
				}
			},
			datas:  {
				selectedProject: null,
				countryId: null,
				project: null
			},
			modal_data: {
				name: null,
				businessType: null,
				businesSector: null,
				country: null
			}
		}
	},
	props: {
		
	},
	mounted() {
		EventBus.$on('message_projects_group_ids', data => {
			debugger;
			console.log(data);
			var filteredApiRouteProjects = "projects/" + JSON.stringify(data) + "/company/";
			console.log(filteredApiRouteProjects);
			this.parameters.apiRoute = filteredApiRouteProjects;
			this.datas.selectedProject = null;
		})
		EventBus.$on('clear_all_projects', data => {
			this.datas.selectedProject = null;
		})
	},
	components: {
		comboBoxApi
	},
	methods: {
		updateCountry(val) {
			if(val)
				this.modal_data.country = val;
		},
		updateBusinessType(val) {
			if(val)
				this.modal_data.businessType = val;
		},
		updateBusinessSector(val) {
			if(val)
				this.modal_data.businessSector = val;
		},
		updateSelectedProject(val){
			this.datas.selectedProject = val;

			EventBus.$emit('incoming_project', this.datas);
		},
		submit() {

			var newProject = {
				apiKey: null,
				projectName: this.modal_data.name,
				businessTypeId: this.modal_data.businessType.id,
				businessSectorId: this.modal_data.businessSector.id,
				country: {
					id: this.modal_data.country.id
				},
				customerId: null,
				dataEnabled: true,
				enabled: true,
				features: null,
				id: -1,
				name: this.modal_data.name,
				normalizedName: null,
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////| will need to be changed to the person creating the project |///////////////////////////////////////
//////////////| 	 ownerId will be the CM in charge of the client        |///////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				authorId: 666,
				ownerId: 666
			};

			EventBus.$emit("inject_newProject" , newProject);
			this.updateSelectedProject(newProject);

			axios.post(this.parameters.apiURL + "public/projects?authorId=" +  newProject.authorId, newProject, this.parameters.config)
				.then(response => {
					if(response.data.error) {
						this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
						if (this.parameters.postStatus)
							this.parameters.postStatus = false;
					}
					else{
						this.$toasted.show('<i class="fa fa-check greencheck" aria-hidden="true"></i> Project successfully created.', this.parameters.toasterOptions);
						EventBus.$emit("newProjectId", null);
					}
				})
				.catch(e => {
					// this.postStatus = false;
					this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
					if(e.response)
					{
						console.log(e.response);
						this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
					}
					else if(e.request)
					{
						console.log(e.request);
						this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
					}
					else
					{
						console.log("Error axios post : ", e.message);
						this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
					}

					console.log(e.config);
				})
		},
		clearModal() {
			initialStateModalData();
		}
	}
}
</script>

<style>

</style>