<template>
	<div id="product" class="mx-auto my-4" style="width:100%">
			<div class="mx-5 row" v-if="(items.length > 0)">
				
			 	<b-table hover id="table_products" :items="items" :fields="fields" style="margin-bottom:0">
				    <template slot="name" scope="item">
				      	{{ item.item.product.name }}
				    </template>
				    <template v-if="item.item.warning" slot="warning" scope="item">
				    	<template v-if="item.item.warning">
				    		<i class="fa fa-exclamation animationglow" aria-hidden="true"></i>
				    	</template>
				    </template>
				    <template slot="id" scope="item">
				      	{{ item.item.product.id }}
				    </template>
				    <template slot="startDate" scope="item">
				    	{{ moment(item.item.startDate).format('MMM Do YYYY') }}
				    </template>
				    <template slot="endDate" scope="item">
				    	{{ moment(item.item.endDate).format('MMM Do YYYY') }}
				    </template>
				    <template slot="mediaBudget" scope="item" class="text-right">
				    	<template v-if="item.item.mediaBudget == 0" class="text-right">
				    		<div class="text-right pr-5">
				    		- {{ parameters.currency.symbol }}
				    		</div>
				    	</template>
				    	<template v-else>
				    		<div class="text-right pr-5">
				    		{{ numeral(item.item.mediaBudget).format('0,0[.]00') }} {{ parameters.currency.symbol }}
				    		</div>
				    	</template>
				    </template>
				    <template slot="unitPrice" scope="item" class="b-form-input_width">
				    		<div class="text-right pr-5">
				    			{{ numeral(item.item.mediaBudget * parameters.percentageRawMediaBudget).format('0,0[.]00') }} {{ parameters.currency.symbol }}
				    		</div>
				    </template>
				    <template slot="unitPrice" scope="item">
				    	<!-- <template v-if="item.item.product.id != 6"> -->
				    	<template v-if="typeof(item.item.chkbxUnitPrice) != 'undefined'">
				    	<div class="row" style="width: 300px;">
			    			<div class="col">
			    				<div class="input-group input-group-sm">
							      	<span class="input-group-addon">
								        <input v-model="item.item.chkbxUnitPrice" @change="refreshTotal" type="checkbox" aria-label="Checkbox for following text input">
							      	</span>
							      	<input v-model="item.item.unitPrice" type="text" style="text-align: right;" class="form-control" aria-label="Text input with checkbox" :disabled="!item.item.chkbxUnitPrice">
							      	<span class="input-group-addon">{{ parameters.currency.symbol }}</span>
						    	</div>
			    			</div>
			    		</div>
			    		</template>
			    		<template v-else>
			    		<div class="row" style="width: 300px;">
			    			<div class="col">
			    				<div class="input-group input-group-sm">
							      	<input v-model="item.item.unitPrice" type="text" style="text-align: right;" class="form-control" aria-label="Text input with checkbox" disabled>
							      	<span class="input-group-addon">{{ parameters.currency.symbol }}</span>
						    	</div>
			    			</div>
			    		</div>
			    			<!-- {{ numeral(item.item.unitPrice).format('0,0[.]00') }} {{ parameters.currency.symbol }} -->
			    		</template>
				    </template>
				    <template slot="quantity" scope="item">
				    	<div class="text-center">
			    		{{ item.item.quantity }}
			    		</div>
				    </template>
				    <template slot="actions" scope="item" class="justify-content-right text-right">
				    	<i v-if="item.value" class="fa fa-angle-up fa-lg" aria-hidden="true" @click="moveUp(item.item)"></i>
				    	<i v-if="item.value" class="fa fa-angle-down fa-lg" aria-hidden="true" @click="moveDown(item.item)"></i>
				    	<i v-if="item.value" class="fa fa-trash" aria-hidden="true" @click="deleteItem(item.item)"></i>
				    	<!-- <i v-if="item.value && !item.item.newLicense" class="fa fa-trash" aria-hidden="true" @click="deleteItem(item.item)"></i>
				    	<i v-if="item.item.newLicense" class="fa fa-refresh" aria-hidden="true" @click="deleteItem(item.item)"></i> -->
				    	<i v-if="!item.item.newLicense" class="fa fa-gift" aria-hidden="true" style="visibility: hidden"></i>
				    	<i v-if="item.item.newLicense" class="fa fa-gift" aria-hidden="true" @click="itsOnMe(item.item)"></i>
				    </template>
			  	</b-table>
			</div>

			<b-modal :id="modalGiftLicense" title="Offer this Annual License" @ok="submitModalGift">
		    	<form @submit.stop.prevent="submit">
			    	<div id="modalContent" class="m-4">
						<center><i class="fa fa-gift fa-3x fa-pull-left fa-border" aria-hidden="true"></i></center>
    					<div class="form-group">
    						<p>Please be advised that this will automatically adjust the Annual License End Date to match the product that ends the last.</p>
    						<p>Are you sure that you want to offer this Annual License ?</p>
    					</div>
    				
		      		</div>

		    	</form>
		  	</b-modal>
	</div>
</template>

<script>
import EventBus from '../global/eventBus.js'
import draggable from 'vuedraggable'

require('font-awesome/css/font-awesome.min.css');
var moment = require('moment');
var numeral = require('numeral');


Array.prototype.move = function(from,to){
  this.splice(to,0,this.splice(from,1)[0]);
  return this;
}

function maxDateFunction(this_){
	//debugger;
	this_.maxDate = { date: new Date(), index: null, endLicense: new Date()};
	var i = 0;

	var license_maxDate = this_.licenseprop.endDate;

	this_.items.forEach(function(element) {

		(element.product.id == 6) ? ( (moment(element.endDate).valueOf() > moment(license_maxDate).valueOf()) ? license_maxDate = element.endDate : null ) : null
	})


	this_.items.forEach(function(element) {

		var isOutofLicense_original = moment(element.endDate).valueOf() > moment(this_.licenseprop.endDate).valueOf();
		(isOutofLicense_original && element.product.id != 6) ? this_.maxDate = { date: element.endDate, index: i} : null;

		if(element.product.id != 6) {
			(moment(element.endDate).valueOf() > moment(this_.maxDate.date).valueOf()) ? this_.maxDate = {date: element.endDate, index: i} : null;
			var isOutOfLicense = moment(element.endDate).valueOf() > moment(license_maxDate).valueOf();
    		isOutOfLicense ? element["warning"] = true : element["warning"] = false;	    		
		}

		i++;
	})

	this_.maxDate["endLicense"] = license_maxDate;

	EventBus.$emit('maxDate' + this_.name, this_.maxDate);
}

export default{
	data() {
		return {
			items: [],
			listeners: [],
			giftCopyValue: null,
			parameters: {
				percentageRawMediaBudget: 0.01,
				currency: {
					symbol: '€',
					name: 'EUR',
					region: 'fr-FR'
				},
				toasterOptions: {
					duration: 5000
				}
			},
		    fields: {
		      name: {
		        label: 'Product'
		      },
		      warning: {
		      	label: ''
		      },
		      id: {
		        label: 'Code'
		      },
		      startDate: {
		        label: 'Start Date'
		      },
		      endDate: {
		        label: 'End Date'
		      },
		      mediaBudget: {
		      	label: 'Raw Media Budget'
		      },
		      unitPrice: {
		      	label: 'Unit Price'
		      },
		      sellType: {
		      	label: 'Sell Type'
		      },
		      quantity: {
		      	label: 'Quantity'
		      },
		      actions: {
		      	label: 'Actions'
		      }
		    },
		    licenseprop: {
		    	hasLicense: null,
				startDate: new Date(),
				endDate: new Date(),
				id: null,
				moduleId: null,
				orderProjectId: null,
				quantity: null,
				status: null
		    },
		    draggableOptions: {
		    	animation: 150,
		    	dragClass: ".drag-handle-product",
		    	handle: ".drag-handle-product",
		    	group: {name: "products", pull: true, put: true}
		    },
		    firstEvent: true,
		    maxDate: { date: new Date(), index: null},
		    indexGiftLicense : null
		}
	},
	props: {
		name: null,
		identifier: null,
		agency: null,
		project: null,
		dealType: null
	},
	components: {
		draggable
	},
	methods: {
		moment: function(date) {
	    	return moment(date)
	    },
	    numeral: function(date) {
	    	return numeral(date)
	    },
	    moneyFunction(index) {
	    	return this.items[index].unitPrice * this.items[index].quantity;
	    },
	    refreshTotal(){
	    	//force the computed value to be calculated as it is used nowhere in the Vue
			this.totalOrderValue;
	    },
	    deleteItem(item) {

	    	var index = this.items.indexOf(item);

	    	if(index > -1)
	    	{
	    		this.items.splice(index, 1);

	    		if(this.items.length == 0)
	    		{
	    			this.firstEvent = true;
	    			EventBus.$emit('noMoreLicenses', true);
	    		}
	    		else {
	    			this.firstEvent = false;
	    		}

	    		maxDateFunction(this);
	    		this.refreshTotal();
	    	}
	    },
	    itsOnMe(item) {

	    	this.indexGiftLicense = this.items.indexOf(item);
	    	if(this.items[this.indexGiftLicense].state == "active")
    		{
    			delete this.items[this.indexGiftLicense].state;
    			this.items[this.indexGiftLicense].product.defaultPrice = this.giftCopyValue;
    			this.refreshTotal();
    		}
    		else
	    		this.$root.$emit('show::modal', this.modalGiftLicense);
	    },
	    submitModalGift() {

	    	if(this.indexGiftLicense)
	    	{
    	    	var index = this.indexGiftLicense;

    	    	if(moment(this.items[index].endDate).valueOf() >= moment(this.maxDate.date).valueOf())
    	    	{
			    	this.items[index]["state"] = "active";
			    	this.giftCopyValue = this.items[index].product.defaultPrice;
			    	//this.totalValue -= this.giftCopyValue;
		    		//EventBus.$emit('subtract_total', this.giftCopyValue);
			    	this.items[index].product.defaultPrice = 0;
			    	this.items[index].unitPrice = 0;
			    	this.items[index].endDate = this.maxDate.date;
			    	this.refreshTotal();
    	    	}
    	    	else
    	    		this.$toasted.warning("Be careful, this would extend the License availability to more than a year.", this.parameters.toasterOptions)
	    	}
	    	else
	    	{
	    		this.$toasted.warning("An error occured, please try again or contact your favorite software dev.", this.parameters.toasterOptions);
	    	}	
	    },
	    moveUp(item){
	    	var index = this.items.indexOf(item);
	    	if(index > 0)
	    		this.items.move(index, index-1);
	    },
	    moveDown(item){
	    	console.log(item);
	    	var index = this.items.indexOf(item);

	    	if(index < this.items.length - 2)
	    		this.items.move(index, index+1);
	    }
	},
	mounted() {
		EventBus.$on('build_json_products', data =>{
				if(this.agency)
					var myJSON_Projects = { projectId: this.identifier.id, agencyId: this.agency.id, dealType: this.dealType, modules: [] };
				else
	      			var myJSON_Projects = { projectId: this.identifier.id, dealType: this.dealType, modules: [] };

	      		if(this.project.selectedProject.id == -1)
	      		{
	      			if(this.agency)
	      				var myJSON_Projects = { projectId: this.identifier.id, projectName: this.project.selectedProject.projectName, countryId: this.project.selectedProject.country.id, businessTypeId: this.project.selectedProject.businessTypeId, businessSectorId: this.project.selectedProject.businessSectorId, agencyId: this.agency.id, modules: [] };
	      			else
	      				var myJSON_Projects = { projectId: this.identifier.id, projectName: this.project.selectedProject.projectName, countryId: this.project.selectedProject.country.id, businessTypeId: this.project.selectedProject.businessTypeId, businessSectorId: this.project.selectedProject.businessSectorId, modules: [] };
	      		}

	      		var percentage = this.parameters.percentageRawMediaBudget;

	      		this.items.forEach(function(element) {
	      			debugger;
	      			if(!element.isPaid)
	      			{
	      				myJSON_Projects.modules.push({moduleId: element.product.id, startDate: element.startDate, endDate: element.endDate, unitAmount: element.unitPrice, rawMediaBudget: element.mediaBudget, sellType: element.sellType, quantity: element.quantity })
	      			}
	      		})
	      		

	      		EventBus.$emit('assemble_json_projects', myJSON_Projects);
		}),
		EventBus.$on('message_product_' + this.name, data => {
			debugger;
			var tmp = null;
			tmp = data;
			tmp["actions"] = true;

			if(data.product.id == 6)
			{
				tmp["newLicense"] = true;
				tmp["gift"] = true;
			}

			if(this.firstEvent)
				this.items.push(tmp);
			else
				this.items.splice(this.items.length - 1, 0, tmp);
			
			this.refreshTotal();
			maxDateFunction(this);

		});

		EventBus.$on('message_license_' + this.name, data => {
			debugger;
			if(this.firstEvent)
			{
				this.licenseprop = data;
				this.licenseprop["state"] = "success";
				this.licenseprop["mediaBudget"] = 0;
				if(this.licenseprop.hasLicense)
				{
					this.licenseprop["actions"] = false;
					this.licenseprop["product"] = {defaultPrice: 0, unitPrice: 0, id:6, minPrice: 0, name: "Annual License", shortCode: "ANL"};
				}
				else
				{
					this.licenseprop["actions"] = false;
					this.licenseprop["product"] = {defaultPrice: 1500, unitPrice: 1500, id:6, minPrice: 1500, name: "Annual License", shortCode: "ANL"};
					this.refreshTotal();
				}
				
				this.items.push(this.licenseprop);
				
				this.firstEvent = false;

				maxDateFunction(this);
			}
		})
	},
	computed: {
		modalGiftLicense: function() {
			return "modalGiftLicense" + this.name;
		},
		totalOrderValue: function() {
			var sum = 0;
			this.items.forEach(function(item) {
				if(item.unitPrice)
					sum += Number(item.unitPrice) * Number(item.quantity);
				else if(item.product.defaultPrice && item.moduleId == 6)
					sum += Number(item.product.defaultPrice) * Number(item.quantity);
			})
			EventBus.$emit('totalOrderValue', sum);
			return sum;
		}
	},
	beforeDestroy() {
		EventBus.$off('message_product_' + this.name);
		EventBus.$off('message_license_' + this.name);
	}
}
</script>

<style>
.b-form-input_width {
	width: 150px;
}

.animationglow {
	-webkit-animation: flash 2s ease infinite;
	animation: flash 2s ease infinite;
}

</style>