<template>
	<div class="div_multiselect">
		<multiselect ref="comboBoxApi" :value="value" @select="emitBack" @remove="emitBackDelete" :loading="isLoading" :debounce="250" :options="options" :placeholder="placeholder_" :track-by="itemToTarget_" :label="itemToTarget_" :disabled="disabled"></multiselect>
	</div>
</template>

<script>
	import multiselect from 'vue-multiselect'
	import axios from 'axios'
    import EventBus from '../global/eventBus.js'
	import * as configuration from '../config'

	function getApi(){

	}
	
	function getOptions(this_) {
		if(this_.apiRoute)
		{
			this_.isLoading = true;

			var config = {
				headers: {
					[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
					'Content-Type': 'application/json; charset=utf-8'
				},
			}

			axios.get(this_.apiUrl + '' + this_.apiRoute, config)
			.then(response => {
				if(response.data.error) {
					this_.$toasted.error("Something went wrong :/", this_.parameters.toasterOptions);
					this_.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this_.parameters.toasterOptions);
					if (this_.isLoading)
						this_.isLoading = false;
				}
				else
				{
					if(response.data.result.length < 1)
						this_.placeholder_ = "-- No records to show. --";
					
					this_.options = response.data.result;

					if(this_.isSortable)
					{
						this_.options.sort((a,b) => {
							if(a[this_.itemToTarget] < b[this_.itemToTarget]) return -1;
							if(a[this_.itemToTarget] > b[this_.itemToTarget]) return 1;
							return 0;
						})
					}

					if(this_.isName)
					{
						this_.options.forEach(function(el){
							if(typeof el.firstName !== 'undefined')
							{
								el.fullName = el.firstName + " " + el.lastName;
							}
							else
							{
								el.fullName = el.emails[0];
							}
						})
						this_.itemToTarget_ = "fullName";
					}

					//Get all the id's of a Group's customer and pass them to ProjectManager.vue
					if(this_.apiRoute.includes("winterfell/billing/company/") && this_.apiRoute.includes("/group"))
					{
						var arrayIds = [];
						this_.options.forEach(function(item) {
							arrayIds.push(item.id);
						})
						EventBus.$emit('message_projects_group_ids', arrayIds);
					}
					this_.isLoading = false;
				}
			})
			.catch(e => {
				this_.errors.push(e);
				this_.isLoading = false;
				console.log(this_.errors);
			})
		}			
	}

	export default {
		data() {
			return{
				parameters: {
					toasterOptions: {
						duration: 5000
					}
				},
				options: [],
				errors: [],
				itemToTarget_: "",
				isLoading: false,
				placeholder_ : null
			}
		},
		components: {
			multiselect
		},
		props: 
		{
			itemToTarget: {
				type: String,
				default: ""
			},
			apiUrl: {
				type: String,
				default: "not loaded"
			},
			apiRoute: {
				type: String,
				default: "not loaded"
			},
			placeholder: {
				type: String,
				default: "Search"
			},
			isName: {
				type: Boolean,
				default: false
			},
			isSortable: {
				type: Boolean,
				default: true
			},
			value: {
			},
			disabled: {
				type: Boolean,
				default: false
			},
			id: null
		},
		mounted() {

			if(this.id == "selectProjectComboBox")
			{
				EventBus.$on("inject_newProject", data => {
					this.options.push(data);
					this.options.sort((a,b) => {
						if(a[this.itemToTarget] < b[this.itemToTarget]) return -1;
						if(a[this.itemToTarget] > b[this.itemToTarget]) return 1;
						return 0;
					})
				//this.value = this.options[this.options.indexOf(data)];
			})
			}
			this.itemToTarget_ = this.itemToTarget;
			this.placeholder_ = this.placeholder;
			getOptions(this);
		},
		methods: {
			emitBack(val) {
				this.$emit('change', val);
			},
			emitBackDelete(val) {
				this.$emit('change', null);
			}
		},
		computed: {

		},
		watch: {
			apiRoute: function(val, oldval){
				getOptions(this);
			}
		}
	}
</script>

<style>

</style>