<template>
	<div id="newThirdPartyAddress">
		<b-modal id="modalNewThirdPartyAddress" title="New Billing Address" @ok="submit" ok-title="Ok">
			<form @submit.stop.prevent="submit">
				<div class="row">
					<div class="col mx-3">
						<div class="form-group" v-bind:class="{ 'has-danger' : $v.data.firstName.$error }">
							<label for="formFirstName" class="col-form-label col-form-label-sm">First Name</label>
							<input v-model="data.firstName" type="text" class="form-control form-control-sm" id="formFirstName" placeholder="First Name"/>
						</div>
						<div class=" form-group" v-bind:class="{ 'has-danger' : $v.data.lastName.$error }">
							<label for="formLastName" class="col-form-label col-form-label-sm">Last Name</label>
							<input v-model="data.lastName" type="text" class="form-control form-control-sm" id="formLastName" placeholder="Last Name"/>
						</div>
						<div class="form-group" v-bind:class="{ 'has-danger' : $v.data.email.$error }">
							<label for="formEmail" class="col-form-label col-form-label-sm">Email</label>
							<input v-model="data.email" type="text" class="form-control form-control-sm" id="formEmail" placeholder="Email"/>
						</div>
						<div class="form-group" v-bind:class="{ 'has-danger' : $v.data.phone.$error }">
							<label for="formPhoneNumber" class="col-form-label col-form-label-sm">Phone</label>
							<input v-model="data.phone" type="text" class="form-control form-control-sm" id="formPhoneNumber" placeholder="Phone Number"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col mx-3">
						<div class="form-group" v-bind:class="{ 'has-danger' : $v.data.address.$error }">
							<label for="formAddress" class="col-form-label col-form-label-sm">Address</label>
							<input v-model="data.address" type="text" class="form-control form-control-sm" id="formAddress" placeholder="Street Address"/>
							<div class="row mt-1">
								<div class="col-4">
									<input v-model="data.zipcode" type="text" class="form-control form-control-sm" id="formZipCode" placeholder="Zip Code" />
								</div>
								<div class="col-8">
									<input v-model="data.city" type="text" class="form-control form-control-sm" id="formCity" placeholder="City" />
								</div>
							</div>
						</div>

						<div class="form-group" v-bind:class="{ 'has-danger' : $v.data.country.$error }">
							<label for="comboBoxCountry" class="col-form-label col-form-label-sm">Country</label>
							<comboBoxApi id="comboBoxCountry" :value="data.country" @change="updateCountry" itemToTarget="name" :apiUrl="parameters.apiURL" :apiRoute="parameters.apiRouteCountries" :isName="false" placeholder="Select a Country" v-bind:class="{ 'has-danger' : $v.data.country.$error }"></comboBoxApi>
						</div>
					</div>
				</div>
			</form>
		</b-modal>
	</div>
</template>

<script>
import axios from 'axios'
import eventBus from '../global/eventBus.js'
import comboBoxApi from './comboBoxApi'
import { required, email } from 'vuelidate/lib/validators'
import * as configuration from '../config'

export default {
	data() {
		return {
			parameters: {
				config: {
					headers: {
						[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
						'Content-Type': 'application/json; charset=utf-8'
					},
				},
				toasterOptions: {
					duration: 5000
				},
				apiURL: configuration.get("apiUrl"),
				apiRouteCountries: 'public/countries',
				apiRoutePost: 'winterfell/billing/billingaddress/'
			},
			data: {
				firstName: null,
				lastName: null,
				email: null,
				phone: null,
				address: null,
				zipcode: null,
				city: null,
				country: null
			}
		}
	},
	validations() {
		return{
			data: {
				firstName: { required },
				lastName: { required },
				email: { required, email },
				phone: { required },
				address: { required },
				zipcode: { required },
				city: { required },
				country: { required }
			},
			validationContact: ['data.firstName', 'data.lastName', 'data.email', 'data.phone', 'data.address', 'data.zipcode', 'data.city', 'data.country']
		}
	},
	components: {
		comboBoxApi
	},
	props: {
		companyId: {
			type: Number,
			required: true,
			default: -1
		}
	},
	methods: {
		updateCountry(val) {
			this.data.country = val
		},
		submit(e) {
			debugger;
			if(!this.$v.validationContact.$invalid && this.companyId > 0)
			{
				this.data['companyId'] = this.companyId;
				this.data['countryId'] = this.data.country.id;

				var url = this.parameters.apiURL.concat(this.parameters.apiRoutePost);

				axios.post(url, this.data, this.parameters.config)
					.then(response => {
						if(response.data.error) {
							this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
							this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
						}
						else{
							this.$toasted.show('<i class="fa fa-check greencheck" aria-hidden="true"></i>' + 'New address successfully saved.', this.parameters.toasterOptions);
							eventBus.$emit('refreshBillingComboBox', '');
						}
					})
					.catch(e => {
						this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
						if (this.parameters.isLoading)
								this.parameters.isLoading = false;

						if(e.response)
						{
							console.log(e.response);
							this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
						}
						else if(e.request)
						{
							console.log(e.request);
							this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
						}
						else
						{
							console.log("Error axios post : ", e.message);
							this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
						}

						console.log(e.config);
					})
			}
			else
			{
				this.$v.data.country.$touch();
				this.$v.validationContact.$touch();
				this.$toasted.info('Please fill in all the fields before saving.', this.parameters.toasterOptions);
				return e.cancel();
			}
		}
	},
	computed: {
		
	},
	watch: {

	},
	mounted() {

	},
	beforeDestroy() {

	}
}
</script>

<style>
</style>