<template>
	<div id="listingLicenses">
		<b-modal id="modalViewLicenses" title="Available Licenses" @ok="submit" ok-title="Ok" no-auto-focus size="lg" no-close-on-backdrop no-close-on-esc hide-footer>
			<form @submit.stop.prevent="submit">
				<div class="row">
					<div class="col mx-3">
						<p>Please choose a license to use with your future project. Bear in mind that there may be conflicts with pending orders (not signed/paid yet), so verify also the pending licenses below.</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<h5>Licenses in pending orders</h5>
						<br/>
						<b-table small striped hover ref="tableListingLicensesPending" id="tableListingLicenses" :items="licensespending" :fields="bTableLicenses" :current-page="1" :show-empty="true">
							<template slot="id" scope="item">
								<i class="fa fa-ticket hasLicensePartially" aria-hidden="true"></i> {{ item.value }}
							</template>
							<template slot="startDate" scope="item">
								{{ moment(item.value).format('l') }}
							</template>
							<template slot="endDate" scope="item">
								{{ moment(item.value).format('l') }}
							</template>
						</b-table>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col">
						<h5>Licenses currently valids</h5>
						<br/>
						<b-table small striped hover ref="tableListingLicensesValid" id="tableListingLicensesValid" :items="licensesvalid" :fields="bTableLicenses" :current-page="1" :show-empty="true" @row-clicked="(item, index) => { submit(item, index) }">
							<template slot="id" scope="item">
								<i class="fa fa-ticket hasLicenseActive" aria-hidden="true"></i> {{ item.value }}
							</template>
							<template slot="startDate" scope="item">
								{{ moment(item.value).format('l') }}
							</template>
							<template slot="endDate" scope="item">
								{{ moment(item.value).format('l') }}
							</template>
						</b-table>
					</div>
				</div>
			</form>
		</b-modal>
	</div>
</template>

<script>
import EventBus from '../global/eventBus.js'

var moment = require('moment');

	export default {
		data() {
			return {
				parameters: {

				},
				datas: {

				},
				bTableLicenses: {
					id: {
						label: "License #"
					},
					orderProjectId: {
						label: "Project owner #"
					},
					startDate: {
						label: "Start Date"
					},
					endDate: {
						label: "End Date",
						sortable: true
					},
					orderStatus: {
						label: "Order Status"
					}
				}
			}
		},
		components: {

		},
		props: {
			licenses: null
		},
		methods: {
			moment: function(date) {
				return moment(date);
			},
			submit(item, index) {
				EventBus.$emit('license_choosen', item);
				this.$root.$emit('hide::modal','modalViewLicenses');
			}
		},
		computed: {
			licensesvalid: function() {
				
				var result = this.licenses.filter((license) => license.orderStatus == "Signed")
				return result;
			},
			licensespending: function() {
				var result = this.licenses.filter((license) => license.orderStatus != "Signed")
				return result;
			}

		},
		watch: {

		},
		mounted() {

		},
		updated() {

		},
		beforeDestroy() {

		}
	}
</script>

<style>
	#tableListingLicensesValid tbody {
		cursor: pointer;
	}
	.hasLicenseActive {
		color: #A8CA27;
	}
	.hasLicensePartially {
		color: #FDAD00;
	}
</style>