<template>
	<div id="divModalViewSingleOrder">
		<div key="divListing" id="listingContent" class="my-3">
			<transition name="fadeHeight" mode="out-in">
		 	<b-modal :id="parameters.modalId" :title="modalTitle" @ok="submitUpdate" @hidden="closeModalOptions" ok-title="Update" no-auto-focus size="lg">
		   		<form @submit.stop.prevent="submit">
		   			<transition-group tag="div" name="slide-fade">
			   			<div id="contentModalViewSingleOrder" key="divContent" v-if="parameters.isDisplayed"> <!-- !parameters.isLoading -->
			   				<b-card no-block>
			   				  	<b-tabs small card lazy ref="tabs">
			   				    	<b-tab title="Client">
			   				    		<div class="row">
			   				    			<div class="col-6">
			   				    				<h5>Location</h5>
					   				      		<div class="form-group ml-3">
					   				      			<div class="row mt-1">
					   				      				<div class="col-1">
					   				      					<i class="fa fa-address-book-o" aria-hidden="true"></i>	
					   				      				</div>
					   				      				<div class="col">
		   				      							    <input v-model="datas.orderContent.orderProcessedInfos.companyAddress[0].address" readonly ref="formClientAddress1" type="text" class="form-control form-control-sm" id="formClientAddress1" placeholder="Street">
		   				      							    <div class="row mt-1">
		   				      								    <div class="col-4">
		   				      								    	<input v-model="datas.orderContent.orderProcessedInfos.companyAddress[0].zip" readonly type="text" class="form-control form-control-sm mr-0" id="formClientAddress2" placeholder="ZipCode">
		   				      							    	</div>
		   				      							    	<div class="col-8">
		   				      							    		<input v-model="datas.orderContent.orderProcessedInfos.companyAddress[0].city" readonly type="text" class="form-control form-control-sm ml-0" id="formClientAddress3" placeholder="City">
		   				      							   	 	</div>
		   				      						    	</div>	
					   				      				</div>
					   				      			</div>
					   				      			<div class="row mt-1">
					   				      				<div class="col-1">
					   				      					<i class="fa fa-map-marker" aria-hidden="true"></i>
					   				      				</div>
					   				      				<div class="col">
					   				      					<a v-bind:href="companyGMapsLink" target="_blank">Open in Google Maps</a>
					   				      				</div>
					   				      			</div>		  										    
		  								    	</div>
			   				    			</div>
			   				    			<div class="col-6">
			   				    				<h5>Contact</h5>
			   				    				<div class="form-group  ml-3">
			   				    					<div class="row mt-1">
			   				    						<div class="col-1">
			  										    		<i class="fa fa-user-o" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="companyContactFullName" readonly ref="formClientAddress1" type="text" class="form-control form-control-sm" id="formClientAddress1" placeholder="Street">
			   				    						</div>
			   				    					</div>
	  										    	<div class="row mt-1">
	  										    		<div class="col-1">
			  										    		<i class="fa fa-envelope-o" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="datas.orderContent.orderProcessedInfos.companyContact.emails[0]" readonly type="text" class="form-control form-control-sm ml-0" id="formClientAddress3" placeholder="City">
			   				    						</div>
	  										    	</div>
		  										    <div class="row mt-1">
		  										    	<div class="col-1">
			  										    		<i class="fa fa-phone" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="datas.orderContent.orderProcessedInfos.companyContact.phoneNumbers[0]" readonly type="text" class="form-control form-control-sm mr-0" id="formClientAddress2" placeholder="Phone Number">
			   				    						</div>
		  									    	</div>
		  								    	</div>
			   				    			</div>
			   				    		</div>
			   				    	</b-tab>
				   				    <b-tab title="Agency" v-bind:disabled="!(datas.orderContent.agencyContactCrmId > 0)" > <!-- v-bind:disabled="!(datas.orderContent.agencyContactCrmId > 0)" WORKING-->
				   				      	<div class="row" v-if="(datas.orderContent.agencyContactCrmId > 0)">
			   				    			<div class="col-6">
			   				    				<h5>Location</h5>
					   				      		<div class="form-group ml-3">
					   				      			<div class="row mt-1">
					   				      				<div class="col-1">
					   				      					<i class="fa fa-address-book-o" aria-hidden="true"></i>	
					   				      				</div>
					   				      				<div class="col">
		   				      							    <input v-model="datas.orderContent.orderProcessedInfos.agencyAddress[0].address" readonly ref="formClientAddress1" type="text" class="form-control form-control-sm" id="formClientAddress1" placeholder="Street">
		   				      							    
		   				      							    <div class="row mt-1">
		   				      								    <div class="col-4">
		   				      								    	<input v-model="datas.orderContent.orderProcessedInfos.agencyAddressAddress[0].zip" type="text" readonly class="form-control form-control-sm mr-0" id="formClientAddress2" placeholder="ZipCode">
		   				      							    	</div>
		   				      							    	<div class="col-8">
		   				      							    		<input v-model="datas.orderContent.orderProcessedInfos.agencyAddressAddress[0].city" type="text" readonly class="form-control form-control-sm ml-0" id="formClientAddress3" placeholder="City">
		   				      							   	 	</div>
		   				      						    	</div>	
					   				      				</div>
					   				      			</div>
					   				      			<div class="row mt-1">
					   				      				<div class="col-1">
					   				      					<i class="fa fa-map-marker" aria-hidden="true"></i>
					   				      				</div>
					   				      				<div class="col">
					   				      					<a v-bind:href="companyGMapsLink" target="_blank">Open in Google Maps</a>
					   				      				</div>
					   				      			</div>		  										    
		  								    	</div>
			   				    			</div>
			   				    			<div class="col-6">
			   				    				<h5>Contact</h5>
			   				    				<div class="form-group  ml-3">
			   				    					<div class="row mt-1">
			   				    						<div class="col-1">
			  										    		<i class="fa fa-user-o" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="agencyContactFullName" readonly ref="formClientAddress1" type="text" class="form-control form-control-sm" id="formClientAddress1" placeholder="Street">
			   				    						</div>
			   				    					</div>
	  										    	<div class="row mt-1">
	  										    		<div class="col-1">
			  										    		<i class="fa fa-envelope-o" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="datas.orderContent.orderProcessedInfos.billingContact.emails[0]" readonly type="text" class="form-control form-control-sm ml-0" id="formClientAddress3" placeholder="City">
			   				    						</div>
	  										    	</div>
		  										    <div class="row mt-1">
		  										    	<div class="col-1">
			  										    		<i class="fa fa-phone" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="datas.orderContent.orderProcessedInfos.billingContact.phoneNumbers[0]" readonly type="text" class="form-control form-control-sm mr-0" id="formClientAddress2" placeholder="Phone Number">
			   				    						</div>
		  									    	</div>
		  								    	</div>
			   				    			</div>
			   				    		</div>
				   				    </b-tab>
				   				    <b-tab title="Billing" :disabled="false">
				   				      	<div class="row">
			   				    			<div class="col-6">
			   				    				<h5>Location</h5>
					   				      		<div class="form-group ml-3">
					   				      			<div class="row mt-1">
					   				      				<div class="col-1">
					   				      					<i class="fa fa-address-book-o" aria-hidden="true"></i>	
					   				      				</div>
					   				      				<div class="col">
		   				      							    <input v-model="billingContactAddress[0].address" readonly ref="formClientAddress1" type="text" class="form-control form-control-sm" id="formClientAddress1" placeholder="Street">
		   				      							    
		   				      							    <div class="row mt-1">
		   				      								    <div class="col-4">
		   				      								    	<input v-model="billingContactAddress[0].zip" readonly type="text" class="form-control form-control-sm mr-0" id="formClientAddress2" placeholder="ZipCode">
		   				      							    	</div>
		   				      							    	<div class="col-8">
		   				      							    		<input v-model="billingContactAddress[0].city" readonly type="text" class="form-control form-control-sm ml-0" id="formClientAddress3" placeholder="City">
		   				      							   	 	</div>
		   				      						    	</div>	
					   				      				</div>
					   				      			</div>
					   				      			<div class="row mt-1">
					   				      				<div class="col-1">
					   				      					<i class="fa fa-map-marker" aria-hidden="true"></i>
					   				      				</div>
					   				      				<div class="col">
					   				      					<a v-bind:href="companyGMapsLink" target="_blank">Open in Google Maps</a>
					   				      				</div>
					   				      			</div>		  										    
		  								    	</div>
			   				    			</div>
			   				    			<div class="col-6">
			   				    				<h5>Contact</h5>
			   				    				<div class="form-group  ml-3">
			   				    					<div class="row mt-1">
			   				    						<div class="col-1">
			  										    		<i class="fa fa-user-o" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="billingContactFullName" readonly ref="formClientAddress1" type="text" class="form-control form-control-sm" id="formClientAddress1" placeholder="Street">
			   				    						</div>
			   				    					</div>
	  										    	<div class="row mt-1">
	  										    		<div class="col-1">
			  										    		<i class="fa fa-envelope-o" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="datas.orderContent.orderProcessedInfos.billingContact.emails[0]" readonly type="text" class="form-control form-control-sm ml-0" id="formClientAddress3" placeholder="City">
			   				    						</div>
	  										    	</div>
		  										    <div class="row mt-1">
		  										    	<div class="col-1">
			  										    		<i class="fa fa-phone" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<input v-model="datas.orderContent.orderProcessedInfos.billingContact.phoneNumbers[0]" readonly type="text" class="form-control form-control-sm mr-0" id="formClientAddress2" placeholder="Phone Number">
			   				    						</div>
		  									    	</div>
		  								    	</div>
			   				    			</div>
			   				    		</div>
			   				    		<div class="row">
			   				    			<div class="col-6">
			   				    				<h5>VAT Number</h5>
			   				    				<div class="form-group ml-3">
			   				    					<div class="row mt-1">
			   				    						<div class="col-1">
			   				    							<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
		   				    							    <input v-model="datas.orderContent.orderRawInfos.vatNumber" readonly type="text" class="form-control form-control-sm" id="formBillingPOReference" placeholder="VAT Number"/>
			   				    						</div>
			   				    					</div>
			   				    				</div>
			   				    			</div>
			   				    			<div class="col-6">
			   				    				<h5>Update PO Reference</h5>
			   				    				<div class="form-group ml-3">
			   				    					<div class="row mt-1">
			   				    						<div class="col-1">
			   				    							<i class="fa fa-credit-card" aria-hidden="true"></i>
			   				    						</div>
			   				    						<div class="col">
			   				    							<b-input-group size="sm">
			   				    							    <input v-model="datas.orderContent.orderRawInfos.poReference" type="text" class="form-control form-control-sm" id="formBillingPOReference" placeholder="PO Number"/>
			   				    							    <!-- Attach Right button -->
			   				    							    <b-input-group-button slot="right">
			   				    							      <b-btn variant="outline-success" @click="updatePoReference()"><i class="fa fa-floppy-o" aria-hidden="true"></i></b-btn>
			   				    							    </b-input-group-button>

			   				    							  </b-input-group>
			   				    						</div>
			   				    					</div>
			   				    				</div>
			   				    			</div>
			   				    		</div>
				   				    </b-tab>
				   				    <b-tab :title="projectTabTitle">
				   				    	<template v-for="(project, projectIndex) in datas.orderContent.orderProjects">

				   				    	<b-btn block v-b-toggle="project.orderProjectName" :key="project.orderProjectId" variant="primary" class="mb-1">{{ project.orderProjectName }}</b-btn>
  											
										<b-collapse :visible="projectIndex == 0" :id="project.orderProjectName" :key="project.orderProjectId" accordion="accordion-projects">
					   				    	<b-card class="mb-3">
					   				    		<div class="row mb-2">
					   				    			<h5 class="ml-3">Project Informations</h5>
					   				    		</div>
					   				    		<div class="row mb-2">
					   				    			<div class="col-6">
					   				    				<div class="row">
					   				    					<div class="col-1">
					   				    						<i class="fa fa-user-o" aria-hidden="true"></i>
					   				    					</div>
					   				    					<div class="col">
					   				    						<input v-model="project.orderProjectName" readonly type="text" class="form-control form-control-sm ml-0" id="lbProjectName" placeholder="Name"/>
					   				    					</div>
					   				    				</div>
					   				    				<div class="row">
					   				    					<div class="col-1">
					   				    						<i class="fa fa-globe" aria-hidden="true" />
					   				    					</div>
					   				    					<div class="col">
				   				    							<input v-model="project.orderProjectCountryName" readonly type="text" class="form-control form-control-sm ml-0" id="lbProjectCountry" placeholder="Country"/>
					   				    					</div>
					   				    				</div>
					   				    			</div>
					   				    			<div class="col-6">
					   				    				<div class="row">
					   				    					<div class="col-1">
					   				    						<i class="fa fa-hashtag" aria-hidden="true"></i>
					   				    					</div>
					   				    					<div class="col">
					   				    						<input v-model="project.orderProjectId" readonly type="text" class="form-control form-control-sm ml-0" id="lbCompanyName" placeholder="Name"/>
					   				    					</div>
					   				    				</div>
					   				    			</div>
					   				    		</div>
					   				    		<div class="row" id="tableProjectDiv">
					   				    				<b-table small striped hover :ref="project.orderProjectId.toString()" :id="project.orderProjectId.toString()" :items="orderProjectModulesProvider(projectIndex)" :fields="btableFields" :current-page="1" :per-page="50" :filter="null" :show-empty="true" @row-clicked="(item, index) => { disableElement(item, index, projectIndex) }">
					   				    					<template slot="orderOrderModuleStartDate" scope="item">
					   				    						{{ moment(item.value).format('l') }}
					   				    					</template>
					   				    					<template slot="orderOrderModuleEndDate" scope="item">
					   				    						{{ moment(item.value).format('l') }}
				   				    						</template>
				   				    						<template slot="orderOrderModuleRawBudget" scope="item">
				   				    							<template  v-if="item.value > 0">
				   				    								{{ numeral(item.value).format('0,0[.]00') }} {{ parameters.currency.symbol }}
		   				    									</template>
		   				    									<template v-else>
		   				    										--
		   				    									</template>
				   				    						</template>
				   				    						<template slot="orderOrderModuleUnitAmount" scope="item">
				   				    							{{ numeral(item.value).format('0,0[.]00') }} {{ parameters.currency.symbol }}
				   				    						</template>
				   				    						<template slot="actions" scope="item">
				   				    							<center>
					   				    							<i v-if="!isDisabled(item.item._rowVariant)"  title="Disable"  class="fa fa-times" aria-hidden="true"></i>
					   				    							<i v-if="isDisabled(item.item._rowVariant)" title="Enable" class="fa fa-check" aria-hidden="true"></i>
				   				    							</center>
				   				    						</template>
					   				    				</b-table>
					   				    		</div>
					   				    		<div class="row justify-content-right">
					   				    			<div class="col text-right">
					   				    				<p class="my-0">Total</p>
					   				    				{{ numeral(getTotal(project.orderProjectModules)).format('0,0[.]00') }} {{ parameters.currency.symbol }}
					   				    			</div>
					   				    		</div>
					   				    	</b-card>
				   				    	</b-collapse>
				   				    	</template>
				   				    </b-tab>
				   				    <b-tab title="Misc">
				   				      	<b-btn block v-b-toggle.accordionRawData variant="primary">Show raw data</b-btn>
			   				      	  	<b-collapse id="accordionRawData" accordion="accordion1">
			   				      	    	<b-card>
			   				      	    		<!-- <b-btn id="btnClipboard" v-clipboard:copy="JSON.stringify(datas.orderContent)" v-clipboard:success="successVueClipboard" v-clipboard:error="errorVueClipboard" class="btnClipboard"  size="sm" variant="primary">Copy to Clipboard</b-btn> -->
		   				      	    			<pre id="rawInfos" style="font-size:11px; font-family: monospace;">{{ datas.orderContent }}</pre>
			   				      	    	</b-card>
			   				      	  	</b-collapse>

				   				    </b-tab>
		   				  		</b-tabs>
	   				  		</b-card>
			   			</div>
			   			<div v-if="parameters.isLoading" key="divSpinner" id="spinnerModalLoading" class="text-center" style="height: 400px;">
			   				<div class="spinnerModalDiv">
			   					<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" @click=""></i>
			   				</div>
			   			</div>
		   			</transition-group>
		   		</form>
		 	</b-modal>
		 	</transition>
	 	</div>
	</div>
</template>

<script>
import axios from 'axios'
import EventBus from '../global/eventBus.js'
import * as configuration from '../config'

var moment = require('moment');
var numeral = require('numeral');


export default {
	data() {
		return{
			parameters: {
				config: {
					headers: {
						[configuration.get("apiHeaderToken")] : configuration.get("apiToken"),
						'Content-Type': 'application/json; charset=utf-8'
					},
				},
				apiURL: configuration.get("apiUrl"),
				apiRoute: "winterfell/billing/order/",
				apiRoutePO: "winterfell/billing/updatePO/",
				apiRouteUpdateModuleStatus: "winterfell/billing/updatestatus/",
				gmapsURL: "https://maps.google.com?q=",
				modalId: "modalViewSingleOrder",
				isLoading: false,
				isDisplayed: false,
				toasterOptions: {
					duration: 5000
				},
				currency: {
					symbol: '€',
					name: 'EUR',
					region: 'fr-FR'
				}
			},
			datas: {
				modalTitle: "",
				orderContent: null,
				orderId: null,
				tempModuleStatus: []
			},
			btableFields: {
				orderOrderModuleId: {
					label: "#"
				},
				orderOrderModuleShortCode: {
					label: "Code"
				},
				orderOrderModuleName: {
					label: "Name"
				},
				orderOrderModuleStartDate: {
					label: "Start"
				},
				orderOrderModuleEndDate: {
					label: "End"
				},
				orderOrderModuleQuantity: {
					label: "Qty"
				},
				orderOrderModuleRawBudget: {
					label: "Media Budget"
				},
				orderOrderModuleUnitAmount: {
					label: "Price"
				},
				actions: {
					label: "Actions"
				}
			}
		}
	},
	components: {

	},
	props: {

	},
	mounted() {

		EventBus.$on('modalOrderDetailsOrderId', data => {
			this.datas.orderId = data;
			this.getOrderDetails(this.datas.orderId);
		})
		this.$root.$on("show::modal", data => {
			if(data == this.parameters.modalId)
			{
				this.parameters.isLoading = true;
			}
		})
	},
	methods: {
		moment: function(date) {
	    	return moment(date)
	    },
	    numeral: function(date) {
	    	return numeral(date)
	    },
		successVueClipboard(e) {
			this.$toasted.success('Copied to clipboard !', this.parameters.toasterOptions);
			console.log(e);
		},
		errorVueClipboard(e) {
			this.$toasted.error('An error occured, please try again later.', this.parameters.toasterOptions);
			console.log(e);
		},
		updatePoReference(val) {
			
			axios.post(this.parameters.apiURL.concat(this.parameters.apiRoutePO, this.datas.orderId, "/", this.datas.orderContent.orderRawInfos.poReference), this.parameters.config)
				.then(response => {
					if(response.data.error) {
						this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
					}
					else{
						this.$toasted.show('<i class="fa fa-check greencheck" aria-hidden="true"></i>' + 'PO Reference successfully saved.', this.parameters.toasterOptions);
					}
				})
				.catch(e => {
					this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
					if (this.parameters.isLoading)
							this.parameters.isLoading = false;

					if(e.response)
					{
						console.log(e.response);
						this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
					}
					else if(e.request)
					{
						console.log(e.request);
						this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
					}
					else
					{
						console.log("Error axios post : ", e.message);
						this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
					}

					console.log(e.config);
				})
		},
		isDisabled(val) {
			return (val == '') ? false : true;
		},
		disableElement(item, index, projectIndex) {

			if(this.datas.orderContent.orderProjects[projectIndex].orderProjectModules[index]['_rowVariant'] == 'danger')
			{
				this.datas.orderContent.orderProjects[projectIndex].orderProjectModules[index]['_rowVariant'] = '';
				this.datas.orderContent.orderProjects[projectIndex].orderProjectModules[index].orderOrderModuleStatus = 1; //enabled
			}
			else
			{
				this.datas.orderContent.orderProjects[projectIndex].orderProjectModules[index]['_rowVariant'] = 'danger';
				this.datas.orderContent.orderProjects[projectIndex].orderProjectModules[index].orderOrderModuleStatus = 0; //cancelled
			}

			var moduleId = this.datas.orderContent.orderProjects[projectIndex].orderProjectModules[index].orderOrderModuleTrueId;
			var status = this.datas.orderContent.orderProjects[projectIndex].orderProjectModules[index].orderOrderModuleStatus;

			var indexModuleExists = this.datas.tempModuleStatus.map((module) => module.moduleId).indexOf(moduleId);
			
			if(indexModuleExists >= 0)
				this.datas.tempModuleStatus[indexModuleExists] = {moduleId: moduleId, status: status};
			else
				this.datas.tempModuleStatus.push( { moduleId: moduleId, status: status } );

			//NEED TO UPDATE THE DATABASE NEXT !!!!

			this.$root.$emit('table::refresh', this.datas.orderContent.orderProjects[projectIndex].orderProjectId.toString());
		},
		UpdateModuleStatuses() {

			axios.post(this.parameters.apiURL.concat(this.parameters.apiRouteUpdateModuleStatus), this.datas.tempModuleStatus, this.parameters.config)
				.then(response => {
					if(response.data.error) {
						this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
						if (this.parameters.isLoading)
							this.parameters.isLoading = false;
					}
					else{
						this.$toasted.show('<i class="fa fa-check greencheck" aria-hidden="true"></i>' + ' Order successfully updated.', this.parameters.toasterOptions);
						if (this.parameters.isLoading)
							this.parameters.isLoading = false;
					}
				})
				.catch(e => {
					this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
					if (this.parameters.isLoading)
							this.parameters.isLoading = false;

					if(e.response)
					{
						console.log(e.response);
						this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
					}
					else if(e.request)
					{
						console.log(e.request);
						this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
					}
					else
					{
						console.log("Error axios post : ", e.message);
						this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
					}

					console.log(e.config);
				})
		},
		orderProjectModulesProvider(projectIndex) {

		    this.datas.orderContent.orderProjects[projectIndex].orderProjectModules.forEach(element => {
		    	if(element.orderOrderModuleStatus == 0)
		    		element['_rowVariant'] = 'danger';
		    	else
		    		element['_rowVariant'] = '';
		    })

		    return this.datas.orderContent.orderProjects[projectIndex].orderProjectModules || [];
		},
		submitUpdate(e) {
			this.UpdateModuleStatuses();
			debugger;

			if(this.datas.orderContent.orderRawInfos.poReference)
				this.updatePoReference();
		},
		getOrderDetails(val) {

			axios.get(this.parameters.apiURL.concat(this.parameters.apiRoute, this.datas.orderId), this.parameters.config)
				.then(response => {
					if(response.data.error) {
						this.$toasted.error("Something went wrong :/", this.parameters.toasterOptions);
						this.$toasted.info('<i class="fa fa-exclamation redcheck" aria-hidden="true"></i>'+ " " + response.data.error.message, this.parameters.toasterOptions);
						if (this.parameters.isLoading)
							this.parameters.isLoading = false;
					}
					else{
						
						this.datas.orderContent = response.data;
						console.log(this.datas.orderContent);
						if (this.parameters.isLoading)
							this.parameters.isLoading = false;
					}
				})
				.catch(e => {
					this.$toasted.error('Something went wrong :/', this.parameters.toasterOptions);
					if (this.parameters.isLoading)
							this.parameters.isLoading = false;

					if(e.response)
					{
						console.log(e.response);
						this.$toasted.info('Please check the log for more details. e.response', this.parameters.toasterOptions);
					}
					else if(e.request)
					{
						console.log(e.request);
						this.$toasted.info('Please check the log for more details.', this.parameters.toasterOptions);
					}
					else
					{
						console.log("Error axios post : ", e.message);
						this.$toasted.info("Error axios post: " + e.message, this.parameters.toasterOptions)
					}

					console.log(e.config);
				})
		},
		closeModalOptions(val) {
			this.parameters.isDisplayed = false;
			this.datas.orderContent = null;
			this.datas.orderId = null;
		},
		getTotal(projectModules) {
			var total = 0;
			projectModules.forEach(function(element) {
				if(element.orderOrderModuleStatus != 0)
					total += element.orderOrderModuleUnitAmount;
			})
			return total;
		}
	},
	computed: {
		modalTitle: function() {
			if(this.datas.orderContent)
				return this.datas.orderContent.orderRawInfos.companyName;
			else
				return "Loading ...";
		},
		companyContactFullName: function() {
			var fullName = this.datas.orderContent.orderProcessedInfos.companyContact.firstName + " " + this.datas.orderContent.orderProcessedInfos.companyContact.lastName;
			return fullName;
		},
		companyGMapsLink: function() {
			var link = this.parameters.gmapsURL + this.datas.orderContent.orderProcessedInfos.companyAddress[0].address + "+" + this.datas.orderContent.orderProcessedInfos.companyAddress[0].city + "+" + this.datas.orderContent.orderProcessedInfos.companyAddress[0].zip;
			return link;
		},
		agencyContactFullName: function() {
			var fullName = this.datas.orderContent.orderProcessedInfos.agencyContact.firstName + " " + this.datas.orderContent.orderProcessedInfos.agencyContact.lastName;
			return fullName;
		},
		agencyGMapsLink: function() {
			var link = this.parameters.gmapsURL + this.datas.orderContent.orderProcessedInfos.agencyAddress[0].address + "+" + this.datas.orderContent.orderProcessedInfos.agencyAddress[0].city + "+" + this.datas.orderContent.orderProcessedInfos.agencyAddress[0].zip;
		},
		billingContactFullName: function() {
			var fullName = this.datas.orderContent.orderProcessedInfos.billingContact.firstName + " " + this.datas.orderContent.orderProcessedInfos.billingContact.lastName;
			return fullName;
		},
		billingContactAddress: function()
		{
			if(this.datas.orderContent.orderRawInfos.saleChannel)
				return this.datas.orderContent.orderProcessedInfos.companyAddress;
			else
				return this.datas.orderContent.orderProcessedInfos.agencyAddress;
		},
		projectTabTitle: function() {
			if(this.datas.orderContent.orderProjects.length > 1)
				return 'Projects';
			else
				return 'Project';
		}
	},
	watch: {
		//fix to avoid a bump when the loading spinner exits and the listing appears
		'parameters.isLoading': function(val) {
			if(!val)
				setTimeout(x => this.parameters.isDisplayed = true , 500);
		},
		orderId: function(val) {
			this.getOrderDetails(val);
		}
	}
}

</script>

<style>
#tableProjectDiv .table-danger {
	text-decoration: line-through;
}

#tableProjectDiv td {
	 cursor: pointer;
}

.form-control[readonly] {
	background-color: rgba(202, 202, 202, 0.18) !important;
}

.btnClipboard {
	position: absolute;
	right: 50px;
}

.spinnerModalDiv {
	display: flex;
	justify-content: center;
	margin-top: 20%;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(0, 0, 1, 1);
}
.slide-fade-enter, .slide-fade-leave-to
{
  opacity: 0;
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.2s;
  max-height: 230px;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
  opacity: 0;
  max-height: 0px;
}
</style>