<template>
	<div id="modal_">
		<b-btn @click="$root.$emit('show::modal', 'modalNewSingleElement')" variant="primary">
			+
		</b-btn>
		<b-modal id="modalNewSingleElement" :title="title" @ok="submit" @shown="clearName" v-bind:class="{ 'form-group--error': $v.m_newElement.$error }">
			<form class="form-group">
				<b-form-input type="text" :placeholder="placeholder" v-model.trim="m_newElement" @input="$v.m_newElement.$touch()"></b-form-input>
				<small class="text-muted" v-if="!$v.m_newElement.required && $v.m_newElement.$dirty">The input field is required!</small>
				<small class="text-muted" v-if="!$v.m_newElement.minLength">The input must be at least 2 character long!</small>
				<small class="text-muted" v-if="!$v.m_newElement.alphaNum">The input must contain only alphanumerical characters!</small>
				
			</form>
		</b-modal>
	</div>
</template>

<script>
	import {required, minLength, alphaNum} from 'vuelidate/lib/validators'

	export default {
		data() {
			return{
				m_newElement: ''
			}
		},
		validations: {
			m_newElement: {
				required,
				alphaNum,
				minLength: minLength(2)
			}
		},
		components: {

		},
		props: {
			title: {
				value: String,
				default: "Add a new element"
			},
			placeholder: {
				value: String,
				default: "Enter a value"
			}
		},
		methods: {
			clearName() {
				this.m_newElement='';
				this.$v.$reset();
			},
			submit(e) {
				if(!this.$v.$invalid){
					this.$emit('emitElement', this.m_newElement);
					this.$root.$emit('hide::modal', 'modalNewSingleElement');
				}
				else{
					e.cancel();
					this.$v.m_newElement.$touch();
				}
				
			},
			isValidated(e){
				if(!this.v_isValidated) 
					return e.cancel();
			}
		},
		computed: {
			isDisabledOKButton: function() {

				return submit();
			}
		}
	}

</script>

<style>
</style>