﻿<template>
<div style="height: 100%;">
	<nav id="topNav" class="navbar navbar-toggleable navbar-inverse bg-primary fixed-top">
    <router-link to="/" class="navbar-brand">Winterfell</router-link>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <router-link to="/" class="nav-link">Home</router-link>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropDownMenuBilling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Billing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuBilling">
                      <router-link to="/billing/new" class="dropdown-item">New Order</router-link>
                      <router-link to="/billing" class="dropdown-item">Listing</router-link>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropDownMenuBilling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Run
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuBilling">
                        <router-link to="/run/projects" class="dropdown-item">Project Management</router-link>
                        <router-link to="/run/campaigns" class="dropdown-item">Campaign Management</router-link>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropDownMenuBilling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tech
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuBilling">
                        <router-link to="/backend/reindex" class="dropdown-item">Campaign Re-Index</router-link>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            </form>
        </div>
    </nav>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- left sidebar -->
            <div class="col-md-2 fixed pl-0 py-3">
            </div>
            <!-- center content -->
            <div class="col fluid py-3" style="overflow:auto">
              <router-view></router-view>
            </div>
            <!-- right sidebar -->
            <div class="col-md-2 fixed py-3">
            </div>
        </div>
    </div>

	</div>
</template>

<script>

export default {
	data(){
		return {}
	},
	methods: {
	}
}
</script>